---
name: admin
url: /admin
---



<div class="grid-block page-profile">
	<section class="grid-content large-8" ng-controller="AdminController">
		
		
		<a href="" class="button float-right"> + Add Enterprise</a>
		<h2>Enterprises</h2>
		<ul class="g-user-list">
			<li ng-repeat="company in enterprises.enterprise">
				<img ng-src="{{company.logo}}" alt="avatar" class="avatar">
				<div class="float-left">
					<strong>hello {{company.companyName}}</strong>
					<br><br>
					Admins: <br>
					<a  ui-sref="user-profile" class="button small" ng-repeat="user in company.administrators">{{user.name}} </a>

				</div>
				
				<ul class="li-buttons button-group secondary">
					<li><a class="" href="#">Message</a></li>
					<li><a class="" href="#">Suspend</a></li>
					<li><a class="" href="#">Remove</a></li>
				</ul>
			</li>
		</ul>


	</section>
</div>