<header class="heading-bar">
	<h1>Manage Locations</h1>
</header>
<section class="message-content-wrap manage-locations">
	<!-- Create Location -->
	<form class="new-location-wrapper qvr-form" novalidate>
		
		<h2 ng-if="!manageLocationsCtrl.isEdit">Create Location</h2>
		<h2 ng-if="manageLocationsCtrl.isEdit">Edit Location</h2>
		
		<div class="delivery-box">
			<label class="qvr-label" >Name Location</label>
			<input type="text" ng-model="manageLocationsCtrl.newLocation.name" placeholder="Enter Label Name" required>
		</div>

		<section class="location-section">
			<div class="map-search-wrap">
				<label class="qvr-label">Search for Location</label>
				<span class="icon i-location-large"></span>
				<div class="search-button" ng-click="doSearch()">
					<span class="icon i-search-white"></span>
				</div>
				<input places-auto-complete type="search" ng-model="manageLocationsCtrl.search" on-place-changed="placeChanged(place)" placeholder="Enter Address">
			</div>

			<map-view
				mapcenter="manageLocationsCtrl.initialMapCenter"
				coordinates="manageLocationsCtrl.newLocation.coordinates"
				range="manageLocationsCtrl.newLocation.range"
				mapsearch="manageLocationsCtrl.search"
			></map-view>


			<div class="radius">
				<span><input ng-model="manageLocationsCtrl.newLocation.range" ng-change="checkRange()"></span><span class="km"> km</span> radius
			</div>

			<radius-dial range-value="manageLocationsCtrl.newLocation.range" >
			</radius-dial>
			
			<discovery-switch discover-on="manageLocationsCtrl.newLocation.discoverOn" range="manageLocationsCtrl.newLocation.range">
			</discovery-switch>

			<div class="clearfix"></div>
			<div id="new-location-tag-filters" class="input-wrapper">
				<isteven-multi-select class="add-tag-filters float-left"   
				    input-model="manageLocationsCtrl.newLocationFilters"    
				    output-model="manageLocationsCtrl.newLocation.locationTags"
				    button-label="icon name"
				    item-label="icon name maker"
				    tick-property="ticked"
				    this-length="3"
					>
				</isteven-multi-select>
				<div class="button-wrapper">
					<button type="submit" class="qvr-button action" ng-click="manageLocationsCtrl.createNewLocation()">Save</button>
					<button class="qvr-button cancel" ng-click="manageLocationsCtrl.resetLocationForm()">Cancel</button>
				</div>
			</div>	
		</section>
	</form>


	<!-- Locations -->
	<section class="manage-locations-wrapper">
		<div class="manage-locations-header qvr-form">
			<h1 class="float-left">Locations</h1>
			<div class="search-wrapper">
				<label for="filter-by"><i class="fa fa-search"></i></label>
				<input type="search" class="search-locations" ng-model="manageLocationsCtrl.searchSavedData"  placeholder="Search Locations"  ng-keypress="resetCurrentPage()">
			</div>
		</div>

		<div class="clearfix"></div>
		<div class="manage-locations-filter-wrapper qvr-form">
			<div id="bulk-action" class="input-wrapper">
				
				<select id="bulk-actions" class="qvr-select" ng-model="manageLocationsCtrl.bulkActionSelected" required >
					<option value="" selected>Bulk Actions</option>
					<option value="Delete">Delete</option>
					
				</select>
				<button class="qvr-button action" id="bulk-action-button" ng-disabled="!manageLocationsCtrl.bulkActionSelected || !manageLocationsCtrl.isAnyInputsSelected" ng-click="manageLocationsCtrl.bulkActions()">
					<i class="check-mark"></i>
				</button>
			</div>


			<div id="tag-filters" class="input-wrapper">
				<isteven-multi-select class="add-tag-filters float-left"   
				    input-model="manageLocationsCtrl.locationFilters"    
				    output-model="manageLocationsCtrl.tagFilters"
				    button-label="icon name"
				    item-label="icon name maker"
				    tick-property="ticked"
				    this-length="3"
					>
				</isteven-multi-select>
				
				<button class="qvr-button action" ng-disabled="manageLocationsCtrl.tagFilters.length == 0">
					<i class="check-mark"></i>
				</button>
			</div>	


		</div>

		<div class="clearfix"></div>

		<div class="manage-locations-table-wrapper qvr-form">
			<table>
			  <thead>
			    <tr>
			      <th>
			      	<input type="checkbox" id="select-all" ng-model="manageLocationsCtrl.selectAll" ng-change="manageLocationsCtrl.toggleSelected(); manageLocationsCtrl.anyInputsSelected();" />
			      </th>
			      <th>
			      	<label>Label</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: manageLocationsCtrl.sortOrderBy == 'name' && manageLocationsCtrl.reverse == false}" ng-click="manageLocationsCtrl.sortByFunc('name',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: manageLocationsCtrl.sortOrderBy == 'name' && manageLocationsCtrl.reverse == true}" ng-click="manageLocationsCtrl.sortByFunc('name',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Location</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: manageLocationsCtrl.sortOrderBy == 'address' && manageLocationsCtrl.reverse == false}" ng-click="manageLocationsCtrl.sortByFunc('address',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: manageLocationsCtrl.sortOrderBy == 'address' && manageLocationsCtrl.reverse == true}" ng-click="manageLocationsCtrl.sortByFunc('address',true);"></i>
			      	</span>
			      </th>
			      <th></th>
			      <th><span style="color: #F2F2F2">*</span></th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr ng-show="results.length == 0">
			  		<td></td>
			  		<td colspan="3">
			  			<p class="qvr-align-center">No Results</p></td>
			  		<td><span style="color: white">*</span></td>
			  	</tr>
			    <tr  data-ng-repeat="location in manageLocationsCtrl.campaignLocations | startFrom:manageLocationsCtrl.startAt | orderBy:manageLocationsCtrl.sortOrderBy:manageLocationsCtrl.reverse | filter:manageLocationsCtrl.searchSavedData as results" ng-show="$index >= manageLocationsCtrl.startAt && $index <= manageLocationsCtrl.endAt" ng-class="{last: manageLocationsCtrl.endAt == $index}" >
			      <td><input type="checkbox" ng-model="location.isSelected" ng-change="manageLocationsCtrl.anyInputsSelected();" /></td>
			      <td>{{location.name}}</td>
			      <td>{{location.address || "No Saved Address"}}</td>
			      <td>
			      	<a ng-click="manageLocationsCtrl.editLocation(location.sid)">Edit</a>
			      </td>
			      <td>
			      	<a ng-click="manageLocationsCtrl.deleteLocation(location.sid);">Delete</a>
			      </td>
			    </tr>
			  </tbody>
			</table>
			<h2 style="text-align: center;" ng-show="manageLocationsCtrl.noSavedLocations">No Saved Locations</h2>
			<div class="pagination-wrapper input-wrapper bottom">
				<button class="qvr-button" ng-click="manageLocationsCtrl.goToPage('beginning');" ng-disabled="currentPage == 1 || results.length == 0">
					<i class="fa fa-angle-double-left"></i>
				</button>
				<button class="qvr-button" ng-click="manageLocationsCtrl.goToPage('down');" ng-disabled="currentPage == 1 || results.length == 0">
					<i class="fa fa-angle-left"></i>
				</button>
				<span class="pagination-info">
					<input type="number" min="1" max="9999" ng-model="currentPage" />
					<span>
						of 
						<span ng-hide="results.length == 0">{{noOfPages}}</span>
						<span ng-show="results.length == 0">1</span>
					</span>
			    </span>
				<button class="qvr-button" ng-click="manageLocationsCtrl.goToPage('up');" ng-disabled="currentPage == noOfPages || results.length == 0">
					<i class="fa fa-angle-right right"></i>
				</button>
				<button class="qvr-button" ng-click="manageLocationsCtrl.goToPage('end');" ng-disabled="currentPage == noOfPages || results.length == 0">
					<i class="fa fa-angle-double-right right"></i>
				</button>
			</div>	
		</div>

	</section>

</section>

