@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
		    border-radius: $radius;
}

@mixin box-shadow($v, $h, $blur, $spread, $color) {
    -webkit-box-shadow: $v $h $blur $spread $color;
       -moz-box-shadow: $v $h $blur $spread $color;
            box-shadow: $v $h $blur $spread $color;
}

@mixin box-shadow-inner($v, $h, $blur, $spread, $color) {
    -webkit-box-shadow: inset $v $h $blur $spread $color;
       -moz-box-shadow: inset $v $h $blur $spread $color;
            box-shadow: inset $v $h $blur $spread $color;
}

@mixin user-select($type) {
	-webkit-user-select: $type;
	 -khtml-user-select: $type;
	   -moz-user-select: $type;
		-ms-user-select: $type;
			user-select: $type;
}