@import "pages/login";
@import "pages/messages";
@import "pages/profile";
@import "pages/enterprise";

.page-container {
	display: flex;
	align-items: stretch;
	height: 100%;
	padding: 0;
	margin: 0 0 0 113px;
}

.page {
	width: 100%;
	height: 100%;
}