@import "pages/login";
@import "pages/messages";
@import "pages/profile";
@import "pages/enterprise";
@import "pages/manage-users";
@import "pages/reporting/reporting-center";
@import "pages/reporting/follower-summary";
@import "pages/campaigns/manage-locations";

.page-container {
	display: flex;
	align-items: stretch;
	height: 100%;
	padding: 0;
	margin: 0 0 0 113px;
	//background-color: #f8f8f8;

	.page-view { width: 100%; }

}

.page {
	width: 100%;
	height: 100%;
}