.page-container {
		display: flex;
		align-items: stretch;
		padding: 0;

}

.page {
	width: 100%;

}
.page--login {
	background-color: $qvr-color-1;


	.login-form {
		margin-top: 100px;

		.qvr-button {
			width: 49%;
		}
	}

}

.page-profile {
	margin-top: 2em;

	.content-block {
		padding: 2em;
	}

	$avatar-width: 200px;

	.avatar {
		width: $avatar-width;
		height: $avatar-width;
		margin-right: 1em;
		float: left;
	}

	.profile-details {
		float: left;
		padding-top: 2em;
	}

	.profile-form {
		margin-top: 1em;
		
		textarea.desc {
			width: 100%;
			height: 120px;
			resize: none;
		}
	}

	.password-box {
		max-width: 340px;
	}

	.corporate-info {
		//padding-left: 5em;
	}

}

.page--messages {
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;


	.messages-sidebar-wrap { width: 250px;}
  .messages-view-wrap    { flex: 1;  }

	.message-side-nav {

		.qvr-btn-dashboard {
			display: inline-block;
			font-size: 20px;
			font-weight: 700;
			color: #fff;
			background-color: transparent;
			height: 100%;
			width: 100%;
			text-align: center;
			transition: all 0.4s ease-in-out;

			&:hover {
				background-color: rgba(255,255,255,0.2);
			}

			.icon {
				margin-bottom: -7px;
				margin-right: 18px;
			}
		}

		.qvr-btn-new-message {
			display: block;
			margin: 20px 20px;
			height: 70px;
			line-height: 70px;
			border-radius: 20px;
			font-size: 16px;
			text-transform: capitalize;
		}

		.message-side-list {
			list-style: none;
			padding: 0;
			margin: 0;
			
			li {
				display: flex;
				margin: 0 0;
				padding: 0;
			}
			a {
				@extend .clearfix;
				display: block;
		  	width: 100%;
		  	height: 50px;
		  	line-height: 50px;
				padding: 0 1rem;
				border-bottom: 1px solid #f2f2f2;
				transition: all 0.3s ease-in-out;
				font-weight: 700;
				color: $qvr-color-body;
				font-size: 12px;
				
				.icon {
					margin: 17px 0 0 0;
				}

				&:hover, &.active {
					border-bottom: 1px solid darken(#f2f2f2, 20%);
					background: #f2f2f2;
				}

				.status-label {
					display: inline-block;
					width: 55px;
					margin-right: 1rem;
					color: $qvr-color-1;
				}

			}
		}

  }

  .message-content-wrap {
  	padding: 1rem 0 0 4rem;

  	section {
  		@extend .clearfix;
  		border-bottom: 1px solid #ccc;
  		padding: 0.75rem 4rem 0.75rem 0.5rem;
  	}
  	
  	.bottom-controls {
  		padding: 0.75rem 4rem 0.75rem 0.5rem;
  	}

  	h2 {
  		font-size: 20px;
  		margin: 0;
  		color: $qvr-color-body;

  		&.message-title {
  			line-height: 53px;
  		}
  	}

  	p { 
  		font-size: 14px; 
  		margin: 0;
  	}

  	.edit-button {
  		font-size: 14px;
  	}

  	.owner {
			display: inline-block;
			color: $qvr-color-body;
			font-size: 14px;
			font-weight: 300;
			line-height: 1.5em;

			.avatar.small {
				width: 60px;
				height: 60px;
			}
		}
		
		.status-box {
			
			a {
				display: inline-block;
				height: $qvr-input-btn-height;
				line-height: $qvr-input-btn-height;
				width: 155px;
				color: #999;
				font-size: 14px;
				border: 1px solid #ccc;
				border-radius: $qvr-border-radius;
				text-align: center;

				&.active {
					background-color: $qvr-color-1;
					color: #fff;
					font-weight: 700;
					border: none;
				}
			}
		}

		.measure {
			margin-top: 3rem;

			.metric {
				text-align: center;
				display: inline-block;
				margin-right: 1rem;
				font-size: 14px;
				font-weight: 300;
				color: $qvr-color-1;

				label {
					font-size: 14px;
					font-weight: 300;
					color: $qvr-color-1;
				}

				span {
					$circle-diameter: 100px;
					display: inline-block;
					width: $circle-diameter;
					height: $circle-diameter;
					line-height: $circle-diameter;
					border-radius: $circle-diameter;
					border: 1px solid $qvr-color-1;
					margin-bottom: 0.5rem;
					transition: all 0.3s ease-in-out;

				}
				&:hover {
					span {
						border: 1px solid darken($qvr-color-1, 10%);
					}
				}
			}
		}

		.location-section {
			border-color: $qvr-color-1;
		}

		.location-description {
			margin: 1rem 1rem 2rem 1rem;

			.icon {
				float: left;
				margin-right: 1rem;
			}
			p {
				font-size: 17px;
				color: $qvr-color-body;
				font-weight: 300;
			}
		}

		.radius {
			margin: 30px 0;
			font-family: $qvr-tertiary-font;
			font-weight: 700;
			font-size: 38px;
			text-transform: uppercase;
			text-align: center;

			span {
				color: $qvr-color-1;
			}
		}

		.location-details {
			padding: 2rem 3rem;

			.icon, input { margin-right: 0.5em; }
			input { margin-bottom: 12px;}

			p {
				font-size: 18px;
				text-align: center;
				font-weight: 100;
				color: $qvr-color-body;
				margin-left: 3rem;

				span {
					color: $qvr-color-1;
				}
			}

		}

		.delivery-box {	
			margin-bottom: 2rem;
			margin-right: 4rem;

			span.date {
				font-size: 26px;
				font-weight: 700;
				color: #999;
				text-transform: uppercase;
			}

			.icon {
				margin-bottom: -5px;
				margin-right: 10px;
			}

			input {
				width: 320px;
				padding-right: 50px;
				background-repeat: no-repeat;
				background-size: 30px;
				background-position: 275px 10px;
			}

			input.date {
				background-image: url(/assets/img/icons/i-calendar.png);
			}
			input.hourglass {
				background-image: url(/assets/img/icons/i-hourglass.png);
			}
		}
		

		.info-details {
			@extend .location-details;

			input { margin-bottom: 7px;}

		}

		.bottom-controls {
			margin-top: 1rem;
		}
		
  }

  .create-edit-message-form {
		
		.half-size {
			width: 50%;
			float: left;
			&:first-child {
				padding-right: 20px;
			}
		}

		.message-content {
			height: 180px;
		}

		.attach-asset {
			padding: 0 2em;
			.icon {
				margin-bottom: -10px;
				margin-right: 10px;
			}
		}

		.location-section {
			padding-top: 2rem;
		}
		.map-search-wrap {
			position: relative;

			> .icon {
				position: absolute;
				top: 22px;
				left: 24px;
			}
			.search-button {
				position: absolute;
				right: 0;
				top: 0;
				height: 75px;
				width: 85px;
				background-color: $qvr-color-1;

				> .icon {
					position: absolute;
					top: 24px;
					left: 27px;
				}
			}
			> input {
				font-size: 18px;
				font-weight: 300;
				height: 75px;
				line-height: 75px;
				border-radius: 0;
				margin: 0;
				padding-left: 70px;
				padding-right: 90px;
			}
		}

		input[type="range"].radius-range {
			position: relative;
		  -webkit-appearance: none;
		  padding: 0 4rem;
		  margin: 5rem 0;
		  width: 100%;
		  border: none;
		  font-weight: 300;
		  font-size: 30px;
		  line-height: 15px;
		  height: 20px;

		  &:before {
	  		position: absolute;
	  		top: 0;
	  		left: 2rem;
		  	color: $qvr-color-1;
		  	content: "-";
		  	font-size: 45px;
		  }
		  &:after {
	  		position: absolute;
				top: 0;
	  		right: 2rem;
		  	color: $qvr-color-1;
		  	content: "+";
		  }
		
			&:focus {
			  outline: none;
			}
			&::-webkit-slider-runnable-track {
			  width: 100%;
			  height: 20px;
			  border-radius: 20px;
			  cursor: pointer;
			  animate: 0.2s;
			  background: $qvr-color-1;

			  
			}
			&::-webkit-slider-thumb {
				position: relative;
			  height: 100px;
			  width: 100px;
			  border-radius: 100px;
			  box-shadow: 0 2px 4px #333, inset 0 1px 10px #999;
			  background: #ffffff;
			  cursor: pointer;
			  -webkit-appearance: none;
			  margin-top: -40px;

			  &::after {
			  	position: absolute;
			  	display: block;
			  	top: 22px;
					left: 22px;
					background-image: url(/assets/img/icons/i-location.png);
					background-size: 50%;
					background-repeat: no-repeat;
					background-position: 14px 14px;
					content: ' ';
			  	width: 55px;
			  	height: 55px;
			  	border-radius: 55px;
			  	border: 1px solid $qvr-color-1;
			  }
			}
			&:focus::-webkit-slider-runnable-track {
			  background: $qvr-color-1;
			}
			

		}

  }


	.message-active-list {
		margin-bottom: 5rem;

		.title-width { 
			display: inline-block;
			width: 215px;
			float: left;
		}

		.message-title {
			padding-left: 50px;
			font-size: 12px;
			font-weight: 700;
			color: $qvr-color-body;
		}

		.stats {
			@extend .clearfix;
			text-align: center;

			span {
				display: inline-block;
				float: left;
				width: 90px;
				height: 50px;
				line-height: inherit;
			}
		}

		header {
			@extend .clearfix;

			.stats {
				margin-right: 1rem;
				font-size: 12px;
				color: #777;
				//margin-top: 1rem;

				span {
					font-size: 12px;
					text-transform: uppercase;
					font-weight: bold;
					color: #fff;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-direction: column;

			li {
				@extend .clearfix;
				margin: 0;
				padding: 0;
				height: 50px;
				line-height: 50px;
				transition: all 0.4s ease-in-out;
				border-bottom: 1px solid #F2F2F2;
				font-size: 12px;
				font-weight: bold;

				a {
					transition: all 0.4s ease-in-out;
					
					&:hover {
						color: $qvr-color-1;
					}
				}
				
				&:hover {	
					background-color: #f2f2f2;

					.stats {
						span {
							border-color: darken(#F2F2F2, 20%);
						}
					}
				}

				.stats {
					span {
						color: $qvr-color-1;
						border-left: 1px solid #f2f2f2;
						transition: all 0.4s ease-in-out;

					}
				}

			}
		}
	}

	.live-feed {
		margin-top: 1rem;

		ul {
			list-style: none;
			margin: 25px 45px;
			padding: 0;
			max-width: 615px;

			li {
				border: 1px solid #ccc;
				border-radius: 10px;
				padding: 12px 25px 12px 20px;
				margin-bottom: 0.5rem;
				transition: all 0.2s ease-in-out;
				
				display: flex;
				flex-direction: row;
  			flex-wrap: nowrap;

  			&:hover {
					border: 1px solid darken(#ccc, 10%);
					background-color: #f2f2f2;
				}

				
				.user {order: 1}

				.update-body {
					order: 2; 
					flex: 2;
					font-size: 12px;
					font-weight: 700;

					header {
						padding: 0 0 0.5em 0;
					}

					a {
						color: $qvr-color-1;
					}

					p {
						font-weight: 300;
						margin-bottom: 0.5em;
						line-height: 1.2em;
					}

					.location {
						.icon { margin-bottom: -5px;}
					}

				}

				.link-wrap {
					order: 3; 
					padding-top: 10px;
				}
				
			}
		}
	}

}

.page--enterprise {

	.enterprise-content {
		
	}
	

  .enterprise-profile {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	margin: 0;
  	padding: 0;
  	align-items: center;
  	justify-content: space-around;

  	.corporate-info {
  		order: 1;
  		width: 50%;

  	}

  	.details {
  		order: 2;
  		border-left: 1px solid #f2f2f2;
  		width: 50%;
  		padding-left: 3rem;

  		p {
  			font-size: 16px;
  			font-weight: 300;
  			width: 300px;

  		}
			
			label {
				font-size: 20px;
				color: $qvr-color-1;
			}
  	}
	
  }

  .enterprise-users {
  	padding: 4rem;

  	header {
  		@extend .clearfix;
  		padding-bottom: 1rem;	
  		margin-bottom: 1rem;	
  		border-bottom: 1px solid #ccc;
  	}

  	.user-section {
  		display: flex;

  		h2 {
  			display: box;
  			order: 1;
				width: 200px;
				text-align: right;
				margin: 1rem;

  		}
  		.g-user-list {
  			order: 2;
  			flex-grow: 1;

  			.user-rights {
  				a { width: 160px;}
  			}
  		}
  	}
  }
}