//Typography Imports
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,700,300|Open+Sans:400,300,700|Oswald:400,700");
$qvr-primary-font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$qvr-secondary-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$qvr-tertiary-font: Oswald, 'Helvetica Neue', Helvetica, Arial, sans-serif;


//Colors
$qvr-color-body: #7F8184;
$qvr-warning-color: #F15A29;
$qvr-color-1: #00A8CB;
$qvr-color-2: #B9E9FF;


//Sizes
$qvr-input-btn-height: 53px;
$qvr-input-btn-height_small: 24px;
$qvr-border-radius: 7px;
