//Helpers
.qvr-align-center {text-align: center;}


//Typography Elements

h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  color: $qvr-color-body;

}
.qvr-label {
	font-size: 1em;
	font-weight: 700;
	color: $qvr-color-1;
}

//Global Styles
html {
	//font-size:62.5%;
}
body {
	font-family: $qvr-primary-font;
	font-size: 12px;
	color: $qvr-color-body;
}

p {
	font-size: 12px;
	color: $qvr-color-body;
}


//icons
.icon {
	display: inline-block;
	background-size: cover;

	&.i-header-user {
		background-image: url(..//img/icons/i-header-user.png);
		width: 26px;
		height: 24px;
	}

	&.i-user-large {
		background-image: url(..//img/icons/i-user.png);
		width: 80px;
		height: 80px;
	}

	&.i-dashboard {
		background-image: url(..//img/icons/i-dashboard.png);
		width: 34px;
		height: 34px;
	}

	&.i-search {
		background-image: url(..//img/icons/i-search-zoom.png);
		width: 20px;
		height: 20px;
	}
	//
	&.i-search-white {
		background-image: url(..//img/icons/i-search-zoom-white.png);
		width: 32px;
		height: 32px;
	}

	&.i-btn-arrow-right {
		background-image: url(..//img/icons/i-btn-arrow-right.png);
		width: 60px;
		height: 60px;
	}
	&.i-location {
		background-image: url(..//img/icons/i-location.png);
		width: 24px;
		height: 24px;
	}
	&.i-side-bar-arrow {
		background-image: url(..//img/icons/i-side-bar-arrow-right.png);
		width: 15px;
		height: 15px;
	}
	&.i-location-large {
		background-image: url(..//img/icons/i-location-large.png);
		width: 34px;
		height: 34px;
	}
	&.i-location-enter {
		background-image: url(..//img/icons/i-location-enter.png);
		width: 60px;
		height: 60px;
	}
	&.i-location-leave {
		background-image: url(..//img/icons/i-location-leave.png);
		width: 60px;
		height: 60px;
	}
	&.i-calendar {
		background-image: url(..//img/icons/i-calendar.png);
		width: 30px;
		height: 30px;
	}
	&.i-hourglass {
		background-image: url(..//img/icons/i-hourglass.png);
		width: 30px;
		height: 30px;
	}
	&.i-info {
		background-image: url(..//img/icons/i-info.png);
		width: 50px;
		height: 50px;
	}
	&.i-info-crossed {
		background-image: url(..//img/icons/i-info-crossed.png);
		width: 50px;
		height: 50px;
	}
	&.i-camera {
		background-image: url(..//img/icons/i-camera.png);
		width: 32px;
		height: 32px;
	}

}


//CSS Shapes
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #f00;
}


// Global Header
.g-header {
	padding-bottom: 0.5em;

	.header-branding {
		float: left;
		margin: 10px 0 0 25px;

		.header-logo {
			float: left;
			width: 108px;
			height: 34px;
		}

		.portal-branding {
			float: left;
			display: inline-block;
			color: $qvr-color-1;
			border-left: 2px solid $qvr-color-1;
			margin: 3px 0 0 16px;
			padding: 0 1.2em;
			height: 30px;
			line-height: 30px;
			font-size: 18px;
			font-family: $qvr-primary-font;
			font-weight: 100;
		}
	}

	.header-nav {
		margin-top: 5px;
		
		a {
			font-family: $qvr-primary-font;
			color: $qvr-color-body;
			font-size: 12px;
			font-weight: 700;
			transition: all 0.2s ease-in-out;
			border-bottom: 3px solid transparent;
			height: 50px;
			margin: 0 10px;

			&:hover {
				color: $qvr-color-1;
				border-bottom: 3px solid $qvr-color-1;
				background-color: inherit;
			}

			&.button__user {
				margin-left: 10px;

				&:hover {
					border-bottom-color: transparent;
				}
			}

		}

	}
	
	

}


.g-user-panel {
	text-align: center;

	.user-info {
		background-color: #7F8184;

		.user-headings {
			background-color: $qvr-color-1;
			color: #fff;
			padding: 32px 0;
			line-height: 1.5em;

			a:hover {
				text-decoration: underline;
			}

			.fullname {
				font-size: 23px;
				font-weight: 700;
			}

			.username {
				font-size: 16px;
				font-weight: 300;
			}
		}

		.description {
			padding: 42px 25px;

			h4 {
				font-size: 23px;
				font-weight: 700;
				color: #fff;
			}
			p {
				font-size: 16px;
				font-weight: 300;
				color: #fff;
			}
		}
	}

	.user-side-bar-menu {
		a {
			display: block;
			color: #fff;
			font-family: $qvr-primary-font;
			font-weight: 700;
			font-size: 18px;
			text-align: center;
			padding: 30px 0;

			&.edit {
				background-color: $qvr-color-1;
			}

			&.signout {
				background-color: $qvr-warning-color;
			}
		}
	}

	a { color: inherit }
}

.g-nav-subnav {
	padding: 2rem;
	text-align: center;

	a {
		width: 180px;
		margin: 0 0.5em;

		&.is-active {
			@extend .action;
		}

	}

}


//Forms
form {
	//styling Foundation Apps form
	input {
		&.h1 { @extend h1; height: inherit;}
		&.h2 { @extend h2; height: inherit;}
		&.h3 { @extend h3; height: inherit;}

	}

	.no-border {
		border: none;
	}
	.dashed-border {
		border: 1px dashed;
	}
}


//Quiver Custom Form
.qvr-form {
	$qvr-form_color-1: lighten($qvr-color-body, 20%);
	$qvr-form_placeholder-color: #ccc;

	::-webkit-input-placeholder {
	   color: $qvr-form_placeholder-color;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $qvr-form_placeholder-color;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $qvr-form_placeholder-color;  
	}

	:placeholder {  
	   color: $qvr-form_placeholder-color;  
	}

	
	
	input, .form-element {
		height: $qvr-input-btn-height;
		border: 1px solid $qvr-form_color-1;
		border-radius: $qvr-border-radius;
		background-color: transparent;
		color: $qvr-form_color-1;
		transition: all 0.4s ease-in-out;
		padding: 0 1em;

		&:focus {
			color: $qvr-color-body;
		}
	}

	input[type="radio"] {
		line-height: 1.5em;
		height: 1.5em;
	}

	&.on-dark {
		input {
			color: #f2f2f2;
			border-color: $qvr-color-2;

			&:focus, &:hover {
				background-color: inherit;
				border-color: #fff;
				color: #fff;
			}

		}

	}

	.qvr-select {
		@extend .form-element;
	}

	textarea {
		@extend .form-element;
		resize: none;
		padding: 1em;
		color: $qvr-form_color-1;

		&.text-description {
			height: 140px;
		}
	}

}

.qvr-search-wrap {
	position: relative;

	.icon.i-search {
		position: absolute;
		top: 10px;
		left: 20px;
	}

	input.qvr-search-messages {
		display: block;
		background-color: $qvr-color-2;
		height: 40px;
		line-height: 40px;
		text-align: left;
		padding-left: 45px;
		border: none;
		font-size: 12px;
		font-weight: 300;
		margin: 0;
	}

}

input[type="checkbox"].qvr-slide-toggle {
  background-color: $qvr-color-1;
  background-size: 100% 100%, 200% 100%;
  background-position: 0 0, 5px 0;
  border-radius: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 53px;
  -webkit-appearance: none;
  transition: all 0.3s ease-in-out;
	
	&:after {
    background-color: #fff;
    border-radius: 28px;
    content: '';
    display: block;
    height: 28px;
    left: 2px;
    position: relative;
    top: 2px;
    width: 28px;
	}

	&:checked {
	    background-position: 0 0, 15px 0;
	    padding-left: 21px;
	    padding-right: 0;
	}

	&:focus {
    outline: none;
	}
}

//Quiver Custom Buttons
.qvr-button {
	display: inline-block;
	height: $qvr-input-btn-height;
	line-height: $qvr-input-btn-height;
	border-radius: $qvr-border-radius;
	padding: 0 2em;
	text-align: center;
	box-shadow: none;
	border: none;
	

	font-family: $qvr-secondary-font;
	font-weight: 700;
	font-size: 14px;

	transition: all 0.4s ease-in-out;

	&.action {
		background-color: $qvr-color-1;
		color: #fff;

		&:hover {
			background-color: lighten($qvr-color-1, 10%);
		}
	}

	&.warning {
		background-color: $qvr-warning-color;
		color: #fff;

		&:hover {
			background-color: lighten($qvr-warning-color, 10%);
		}

		&.hollow {
			border: 1px solid $qvr-warning-color;
			color: $qvr-warning-color;
			background-color: transparent;

			&:hover {
				border-color: lighten($qvr-warning-color, 10%);
			}
		}
	}

	&.info {
		background-color: $qvr-color-2;
		color: $qvr-color-1;

		&:hover {
			background-color: lighten($qvr-color-2, 10%);
		}
	}

	&.on-dark {
		background-color: $qvr-color-2;
		color: $qvr-color-1;

		&:hover {
			background-color: darken($qvr-color-2, 5%);
		}
	}

	&.hollow {
		font-weight: 400;
		color: $qvr-color-body;
		border: 1px solid $qvr-color-body;

		&:hover {
			border-color: darken($qvr-color-body, 10%);
		}
	}

	&.small {
		height: $qvr-input-btn-height_small;
		line-height: $qvr-input-btn-height_small;
		padding: 0 1em;
		font-size: 12px;
		font-weight: 400;
	}

}
