.enterprise-user-management {
    h1 {
        margin: 30px 0;
        color: #808285;
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 36px;
        line-height: inherit;
        font-weight: lighter;
        text-align: center;
        text-transform: uppercase;
    }
    .enterprise-user-management-wrapper {
        .details.avatar {
            text-align: center;
        }
        .enterprise-content-left {
            width: 35%;
            .user-avatar {
                width: 350px;
                max-width: 350px;
                height: 350px;
                max-height: 350px;
                margin-bottom: 25px;
            }
        }
        .enterprise-content-right {
            width: 65%;
            margin-top: 100px;
            .details {
                width: 100%;
            }
            .input-wrapper {
                width: 50%;
                float: left;
                height: 80px;
                input,
                select {
                    width: 90%;
                }
            }
        }
    }
}
.user-management-lower-wrapper{
	        padding: 45px 0px;
        background-color: #f0f0f0;
        margin-top: 30px;
        .user-management-header {
            h1 {
                padding: 0 0 0 30px;
                margin: 0;
                border-bottom: solid 1 px #808285;
                color: #808285;
                font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 40px;
                line-height: inherit;
                font-weight: 300;
                text-align: left;
                text-transform: uppercase;
            }
            .qvr-button {
                padding: 0px 1em;
                margin-left: 25px;
            }
            .search-wrapper {
                float: right;
                width: 27%;
                display: inline-block;
                margin-right: 20px;
                position: relative;
                label {
                    position: absolute;
                    font-size: 21px;
                    top: 5px;
                    left: 10px;
                    color: #666666;
                }
                input[type="search"] {
                    text-indent: 25px;
                    font-weight: normal;
                }
            }
        }
        .user-management-filter-wrapper {
            margin-top: 25px;
            #bulk-action,
            #tag-filters {
                width: 34%;
                float: left;
                display: inline-block;
                select {
                    width: 75%;
                    float: left;
                }
                button.qvr-button {
                    float: left;
                    margin-left: 10px;
                    padding: 8px;
                    padding-top: 0px;
                    i {
                        position: relative;
                        top: 6px;
                        left: 7px;
                    }
                }
            }
            #bulk-action {
                margin-left: 30px;
            }
        }
.user-management-table-wrapper {
    table {
        width: 98%;
        margin-left: 10px;
        border: thin solid  #D1D2D3;
        border-collapse: separate;
        border-spacing: 0;
        padding: 0px;
        @include border-radius(20px);
        th {
            background-color: #F2F2F2;
            text-align: left;
            label {
                font-size: 1.2rem;
                margin-bottom: 0px;
                color: #666666;
                margin-top: 20px;
                float: left;
            }
            input[type="checkbox"] {
                margin-left: 10px;
                margin-top: 15px;
            }
            span {
                float: left;
                height: 50px;
                width: 10px;
                font-size: 21px;
                margin-left: 10px;
                i {
                    position: relative;
                    cursor: pointer;
                    &:first-child {
                        top: 10px;
                    }
                    &.active {
                        color: $qvr-blue-1;
                    }
                }
            }
        }
        td {
            text-align: left;
            border-bottom: thin solid #D1D2D3;
            
            input[type="checkbox"] {
                margin-left: 10px;
                margin-top: 15px;
            }

           	a{
           		color: #808285;
           		text-transform: capitalize;
           		font-weight: bold;
           	}

            .qvr-align-center {
                font-size: 16px;
                padding-top: 10px;
                font-weight: bold;
            }
        }
        tr {
            background-color: white;
            &:first-child {
                th {
                    &:first-child {
                        @include border-radius(20px 0px 0px 0px);
                    }
                    &:last-child {
                        @include border-radius(0px 20px 0px 0px);
                    }
                }
            }
            &:last-child,
            &.last {
                td {
                    &:first-child {
                        @include border-radius(0px 0px 0px 20px);
                    }
                    &:last-child {
                        @include border-radius(0px 0px 20px 0px);
                    }
                }
            }
        }
    }
}
}