.follower-management-lower-wrapper {
    padding: 45px;
    background-color: #f0f0f0;
    margin-top: 30px;
    hr {
        width: 95%;
        margin: 20px auto;
    }
    .follower-management-header {
        h1 {
            padding: 0 0 0 30px;
            margin: 0;
            border-bottom: solid 1 px #808285;
            color: #808285;
            font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 40px;
            line-height: inherit;
            font-weight: 300;
            text-align: left;
            text-transform: uppercase;
        }
        .qvr-button {
            padding: 0px 1em;
            margin-left: 25px;
        }
        .search-wrapper {
            float: right;
            width: 29%;
            display: inline-block;
            margin-right: 25px;
            position: relative;
            label {
                position: absolute;
                font-size: 21px;
                top: 5px;
                left: 10px;
                color: #666666;
            }
            input[type="search"] {
                text-indent: 25px;
                font-weight: normal;
            }
        }
    }
    .follower-management-filter-wrapper {
        margin-top: 25px;
        #bulk-action,
        #tag-filters {
            width: auto;
            display: inline-block;
            select {
                width: 75%;
                float: left;
            }
            button.qvr-button {
                float: left;
                margin-left: 10px;
                padding: 8px;
                padding-top: 0px;
                i {
                    position: relative;
                    top: 6px;
                    left: 7px;
                }
            }
        }
        #bulk-action {
            margin-left: 30px;
            width: 275px;
        }
        #tag-filters{
            float: right;
        }
    }

    .alphabets{
        ul{
            margin-left: 30px;
            margin-bottom: 10px;
            li{
                list-style: none;
                float: left;
                margin-right: 1.3%;
                &:first-child{
                    margin-right: 2%;
                }
                a{
                    color: #808285;
                    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-size: 35px;
                    line-height: inherit;
                    font-weight: 300;
                    &.active,
                    &:hover{
                        color: $qvr-blue-1;
                        font-weight: bold;
                    }
                }
            }
        }
    }


    .follower-management-table-wrapper {
        table {
            width: 98%;
            margin-left: 10px;
            border: thin solid  #D1D2D3;
            border-collapse: separate;
            border-spacing: 0;
            padding: 0px;
            @include border-radius(20px);
            th {
                background-color: #F2F2F2;
                text-align: left;
                label {
                    font-size: 1.2rem;
                    margin-bottom: 0px;
                    color: #666666;
                    margin-top: 20px;
                    float: left;
                }
                input[type="checkbox"] {
                    margin-left: 10px;
                    margin-top: 15px;
                }
                span {
                    float: left;
                    height: 50px;
                    width: 10px;
                    font-size: 21px;
                    margin-left: 10px;
                    i {
                        position: relative;
                        cursor: pointer;
                        &:first-child {
                            top: 10px;
                        }
                        &.active {
                            color: $qvr-blue-1;
                        }
                    }
                }
            }
            td {
                text-align: left;
                border-bottom: thin solid #D1D2D3;
                input[type="checkbox"] {
                    margin-left: 10px;
                    margin-top: 15px;
                }
                a {
                    color: #808285;
                    text-transform: capitalize;
                    font-weight: bold;
                }
                .qvr-align-center {
                    font-size: 16px;
                    padding-top: 10px;
                    font-weight: bold;
                }
            }
            tr {
                background-color: white;
                &:first-child {
                    th {
                        &:first-child {
                            @include border-radius(20px 0px 0px 0px);
                        }
                        &:last-child {
                            @include border-radius(0px 20px 0px 0px);
                        }
                    }
                }
                &:last-child,
                &.last {
                    td {
                        &:first-child {
                            @include border-radius(0px 0px 0px 20px);
                        }
                        &:last-child {
                            @include border-radius(0px 0px 20px 0px);
                        }
                    }
                }
            }
        }
    }
}