<div class="page page--enterprise">
	
	<header class="heading-bar">
		<h1>Enterprise Settings</h1>
		<div class="edit-enterprise-btn-wrapper">
			<button  ng-hide="editProfile" class="qvr-button action" ng-click="editProfileToggle()">
				<span >EDIT PROFILE</span>
			</button>

			<button ng-show="editProfile" class="qvr-button action"  zf-open="saveProfileChangesModal">
				<span >SAVE CHANGES</span>
			</button>


		</div>
	</header>

		<div class="enterprise-profile" ng-hide="editProfile">
		<section class="enterprise-content-wrapper">
			<div class="enterprise-content-left corporate-info">
				<div class="details full-width">
					<label>Account Name</label>
					<p>{{enterpriseCtrl.company.fullName}}</p>
				</div>
				<img  ng-src="{{enterpriseCtrl.company.logo || 'assets/img/tesla.png'}}" alt="logo" class="corp-logo" />
				
				<div class="details full-width">
					<label>Company Bio</label>
					<p class="longer">{{enterpriseCtrl.company.description || 'N/A'}}</p>
					<label>Primary Contact</label>
					<p>{{enterpriseCtrl.company.primaryContact || 'N/A'}}</p>
					<label>Contact Email</label>
					<p>{{enterpriseCtrl.company.emailAddress}}</p>
					<label>Contact Number</label>
					<p>{{enterpriseCtrl.company.phone || 'N/A'}}</p>
				</div>
			</div>
			<div class="enterprise-content-right corporate-info">
					<div class="details full-width">
					<label>Company Address</label>
					<p class="longer">
						{{enterpriseCtrl.company.city || 'N/A'}}
					</p>
					</div>

			</div>
			<div class="clearfix"></div>
		</section>
	</div>


	<div class="enterprise-profile edit qvr-form" ng-controller="EditEnterpriseCtrl as editEnterpriseCtrl" ng-show="editProfile">
		<section class="enterprise-content-wrapper">
			<div class="enterprise-content-left corporate-info">
				<div class="details full-width">
					<label>Account Name</label>
					<input placeholder="" type="text" ng-model="enterpriseCtrl.editedCompany.fullName" required >
				</div>
				<img  ng-src="{{enterpriseCtrl.editedCompany.logo}}" alt="logo" class="corp-logo" />
				
				<div class="details full-width">
					<label>Company Bio</label>
					<textarea placeholder="" ng-model="enterpriseCtrl.editedCompany.description" required rows="4" cols="50" ></textarea>
					<label>Primary Contact</label>
					<input placeholder="" type="text" ng-model="enterpriseCtrl.editedCompany.primaryContact" required >
					<label>Contact Email</label>
					<input placeholder="" type="text" ng-model="enterpriseCtrl.editedCompany.emailAddress" required >
					<label>Contact Number</label>
					<input placeholder="" type="text" ng-model="enterpriseCtrl.editedCompany.phone" required >
				</div>
			</div>
			<div class="enterprise-content-right corporate-info">
					<div class="details full-width">
						<label>Company Address</label>
						<input placeholder="" type="text" ng-model="enterpriseCtrl.editedCompany.address" required >
						<label>State</label>
						<input placeholder="" type="text" ng-model="enterpriseCtrl.editedCompany.state" required >
						<label>City</label>
						<input placeholder="" type="text" ng-model="enterpriseCtrl.editedCompany.city" required >
						<label>Zip</label>
						<input placeholder="" type="text" ng-model="enterpriseCtrl.editedCompany.zip" required >
					</div>
			</div>
			<div class="clearfix"></div>
		</section>
	</div>

</div>



<!-- Modals -->
<div zf-modal="" id="saveProfileChangesModal">
	<a zf-close="" class="close-button">×</a>
	<p class="qvr-align-center">
		Are you sure you want to save chanes?
	</p>
	<div class="modal-button-wrapper qvr-align-center">
		<button ng-click="enterpriseCtrl.saveChanges()" class="qvr-button action">Save</button>
		<button zf-close="" class="qvr-button cancel">Cancel</button>
	</div>
</div>