<header class="heading-bar">
	<h1>Manage Campaign</h1>
</header>
<section class="message-content-wrap manage-campaign">
	<form role="form" class="qvr-form manage-campaign-form" name="campaignForm">
		<div class="float-right top-controls">
			<label class="qvr-label">Campaign Status</label>
			
			<select class="qvr-select select-status" ng-model="manageCampaignCtrl.manageCampaign.status" required>
					<option value="Draft">Draft</option>
					<option value="Live">Live</option>
					<option value="Ended">Ended</option>
			</select>
			<button zf-open="saveCampaignModal" class="qvr-button action" ng-disabled="!campaignForm.$valid">Save Campaign</button>
			<button zf-open="cloneCampaignModal" class="qvr-button action">Clone Campaign</button>

			<!-- Confirmation Modal-->
			<div zf-modal="" id="saveCampaignModal">
				<a zf-close="" class="close-button">×</a>
				<p class="qvr-align-center">
					<br>
					Are you sure you want to save your changes?
					<br>
					<br>
				</p>
				<div class="modal-button-wrapper qvr-align-center">
					<button  zf-close="" class="qvr-button action">Save</button>
					<button zf-close="" class="qvr-button cancel">Cancel</button>
				</div>
			</div>
			<!-- Confirmation Modal-->

			<!-- Cloned Campaign Modal -->
			<div zf-modal="" id="cloneCampaignModal">
				<a zf-close="" class="close-button">×</a>

				<h1>Clone Campaign</h1>
				<div class="campaign-selection-wrapper" ng-model="manageCampaignCtrl.cloneCampaign.campaign">
					<div class="float-left input-field">
						<label>Create New Campaign Name</label>
						<input type="text" ng-model="manageCampaignCtrl.cloneCampaign.campaignName"  />
					</div>
					<div class="float-left">
						<label>Status</label>
						<select class="qvr-select select-status" ng-model="manageCampaignCtrl.cloneCampaign.status" required>
							<option value="Draft" selected>Draft</option>
							<option value="Live">Live</option>
							<option value="Ended">Ended</option>
						</select>
					</div>
				</div>

				<hr class="clearfix" />
				<div class="modal-button-wrapper qvr-align-center">
					<button zf-close="" type="submit" class="qvr-button action">Clone Campaign</button>
					<button zf-close="" class="qvr-button cancel">Cancel</button>
				</div>
			</div>
			<!-- Cloned Campaign Modal -->



		</div>
		<section class="form-wrapper">
			<div id="campaign-name-text" class="input-wrapper">
				<label class="qvr-label">Campaign Name</label>
				<input placeholder="" type="text" ng-model="manageCampaignCtrl.manageCampaign.campaignName" required>
			</div>
			<div id="campaign-id-text" class="input-wrapper">
				<label class="qvr-label">Campaign ID</label>
				<input placeholder="00000" type="text" disabled ng-model="manageCampaignCtrl.manageCampaign.campaignID">
			</div>
			<div class="delivery-box start-date">
				<label class="qvr-label">Start Date</label>
				<input type="text" class="date" ng-model="manageCampaignCtrl.manageCampaign.startDate" ng-click="manageCampaignCtrl.showStartDatePicker=true">
				<section class="date-selector" ng-show="manageCampaignCtrl.showStartDatePicker">
					<date-picker
					title="Start Date"
					name="start-date"
					ng-model="manageCampaignCtrl.manageCampaign.startDate"
					start-date="manageCampaignCtrl.manageCampaign.startDate"
					start-time="manageCampaignCtrl.manageCampaign.startTime"
					end-date="manageCampaignCtrl.manageCampaign.endDate"
					end-time="manageCampaignCtrl.manageCampaign.endTime"
					disable-previous-dates="true"
					show-picker="manageCampaignCtrl.showStartDatePicker"
					></date-picker>
				</section>
			</div>
			
			<div class="delivery-box start-time">
				<label class="qvr-label">Start Time</label>
				<input type="text" class="hourglass" ng-model="manageCampaignCtrl.manageCampaign.startTime" ng-click="manageCampaignCtrl.showStartTimePicker=true">
				<section class="time-selector" ng-show="manageCampaignCtrl.showStartTimePicker">
					<time-picker
					title="Start Time"
					name="start-time"
					ng-model="manageCampaignCtrl.manageCampaign.startTime"
					start-date="manageCampaignCtrl.manageCampaign.startDate"
					start-time="manageCampaignCtrl.manageCampaign.startTime"
					end-date="manageCampaignCtrl.manageCampaign.endDate"
					end-time="manageCampaignCtrl.manageCampaign.endTime"
					disable-previous-dates="true"
					show-picker="manageCampaignCtrl.showStartTimePicker"
					></time-picker>
				</section>
			</div>
			<div id="campaign-participants" class="input-wrapper">
				<label class="qvr-label">Campaign Participants <span>(Groups and Individuals)</span></label>
				<isteven-multi-select class="add-tags"   
				    input-model="manageCampaignCtrl.campaignParticipantsList"    
				    output-model="manageCampaignCtrl.manageCampaign.campaignParticipants"
				    button-label="icon name"
				    item-label="icon name maker"
				    tick-property="ticked"
				    this-length="3"
					>
				</isteven-multi-select>
			</div>


			<div class="clearfix"></div>
			<div id="campaign-description" class="input-wrapper">
				<label class="qvr-label">Campaign Description</label>
				<textarea ng-model="manageCampaignCtrl.manageCampaign.campaignDescription" class="campaign-description-textarea" required></textarea>
			</div>
			<div class="float-left">
				<div class="delivery-box end-date">
					<label class="qvr-label">End Date</label>
					<input type="text" class="date" ng-model="manageCampaignCtrl.manageCampaign.endDate" ng-click="manageCampaignCtrl.showEndDatePicker=true">
					<section class="date-selector" ng-show="manageCampaignCtrl.showEndDatePicker">
					<date-picker
					title="End Date"
					name="end-date"
					ng-model="manageCampaignCtrl.manageCampaign.endDate"
					start-date="manageCampaignCtrl.manageCampaign.startDate"
					start-time="manageCampaignCtrl.manageCampaign.startTime"
					end-date="manageCampaignCtrl.manageCampaign.endDate"
					end-time="manageCampaignCtrl.manageCampaign.endTime"
					disable-previous-dates="true"
					show-picker="manageCampaignCtrl.showEndDatePicker"
					></date-picker>
				</section>
				</div>
				<div class="delivery-box end-time">
					<label class="qvr-label">End Time</label>
					<input type="text" class="hourglass" ng-model="manageCampaignCtrl.manageCampaign.endTime" ng-click="manageCampaignCtrl.showEndTimePicker=true">
					<section class="time-selector" ng-show="manageCampaignCtrl.showEndTimePicker">
					<time-picker
					title="End Time"
					name="end-time"
					ng-model="manageCampaignCtrl.manageCampaign.endTime"
					start-date="manageCampaignCtrl.manageCampaign.startDate"
					start-time="manageCampaignCtrl.manageCampaign.startTime"
					end-date="manageCampaignCtrl.manageCampaign.endDate"
					end-time="manageCampaignCtrl.manageCampaign.endTime"
					disable-previous-dates="true"
					show-picker="manageCampaignCtrl.showEndTimePicker"
					></time-picker>
				</section>
				</div>
			<div class="clearfix"></div>
				<div id="marketing-assets" class="input-wrapper">
					<label class="qvr-label">Marketing Assets</label>

					<isteven-multi-select class="marketing-asset"
				    input-model="manageCampaignCtrl.campaignMarketingAssets"    
				    output-model="manageCampaignCtrl.manageCampaign.marketingAssets"
				    button-label="icon name"
				    item-label="icon name maker"
				    tick-property="ticked"
				    this-length="3"
				     >
				</isteven-multi-select>

				</div>
				<div id="campaigns-tags" class="input-wrapper">
					<label class="qvr-label">Campaigns Tags</label>

					<isteven-multi-select class="add-tags" 
				    input-model="manageCampaignCtrl.campaignsTags"    
				    output-model="manageCampaignCtrl.manageCampaign.campaignsTags"
				    button-label="icon name"
				    item-label="icon name maker"
				    tick-property="ticked"
				    this-length="3"
				     >

				</isteven-multi-select>
					
				</div>
		    </div>

		</section>
	</form>
	<section class="campaign-messages-wrapper">
		<div class="campaign-messages-header qvr-form">
			<h1 class="float-left">Campaign Messages</h1>
			<button  ui-sref="messages.new" class="qvr-button action" >+ NEW MESSAGE</button>
			<div class="search-wrapper">
				<label for="filter-by"><i class="fa fa-search"></i></label>
				<input type="search" class="search-campaigns" ng-model="search"  placeholder="Search Campaigns"  ng-keypress="resetCurrentPage()">
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="campaign-messages-filter-wrapper qvr-form">
			<div id="bulk-action" class="input-wrapper">
				
				<select id="bulk-actions" class="qvr-select" ng-model="manageCampaignCtrl.bulkActions" required >
					<option value="" selected>Bulk Action</option>
					<option value="Delete">Delete</option>
					<option value="Draft">Set To Draft</option>
					<option value="Live">Set To Live</option>
					<option value="Ended">Ended</option>
					<option value="Clone">Clone</option>
				</select>
				<button class="qvr-button action {{manageCampaignCtrl.bulkActions}}" id="bulk-action-button" ng-disabled="!manageCampaignCtrl.bulkActions || !isAnyInputsSelected" ng-click="bulkActions()">
					<i class="check-mark"></i>
				</button>
				<button zf-open="cloneMessageModal" class="qvr-button action {{manageCampaignCtrl.bulkActions}}" id="cloneMessageModalButton"  ng-click="cloneMessages()" ng-disabled="!isAnyInputsSelected" >
					<i class="check-mark"></i>
				</button>
			</div>

			<!-- Cloned Message Modal -->
			<div zf-modal="" id="cloneMessageModal">
				<a zf-close="" class="close-button">×</a>

				<h1>Clone Messages</h1>
				<div class="clone-messages-modal-wrapper">
					<p>
						Selected Messages
					</p>
					<table>
						<thead>
							<th>
								<span>*</span>
								ID
							</th>
							<th>
								Label
							</th>
							<th>
								Status
							</th>
							<th></th>												
						<thead>
						<tbody>
							<tr ng-show="manageCampaignCtrl.clonedMessage.length == 0">
						  		<td></td>
						  		<td colspan="1">
						  			<p class="qvr-align-center">No Cloned Messages</p></td>
						  		<td></td>
						  	</tr>
							<tr  data-ng-repeat="msg in manageCampaignCtrl.clonedMessage">
						      <td><span>*</span>{{msg.id}}</td>
						      <td>{{msg.label}}</td>
						      <td>
						      	<div class="input-wrapper message-status-wrapper">
									<select class="qvr-select {{msg.status}}" ng-model="msg.status" >
										<option data-ng-repeat="obj in manageCampaignCtrl.statuses">{{obj}}</option>
									</select>
								</div>
						      </td>
						      <td><a ng-click="deleteClonedMessage(msg.id);">Remove</a></td>
						    </tr>
						</tbody>
					</table>
					<span class="unique-id-msg">* A new unique ID will be assigned to cloned messages</span>

					<div class="campaign-selection-wrapper" class="input-wrapper">
						<label>Select Campaign to Associate Cloned Messages</label>
						<isteven-multi-select class="add-tags"   
						    input-model="manageCampaignCtrl.campaigns"    
						    output-model="manageCampaignCtrl.cloneToCampaigns"
						    button-label="icon name"
						    item-label="icon name maker"
						    tick-property="ticked"
						    this-length="2">
						</isteven-multi-select>
					</div>
				</div>
				<hr>
				<div class="modal-button-wrapper qvr-align-center">
					<button zf-close="" type="submit" class="qvr-button action">Clone Messages</button>
					<button zf-close="" class="qvr-button cancel">Cancel</button>
				</div>
			</div>
			<!-- Cloned Message Modal -->



			<div id="tag-filters" class="input-wrapper">
				<isteven-multi-select class="add-tag-filters float-left"   
				    input-model="manageCampaignCtrl.campaignMessageTags"    
				    output-model="manageCampaignCtrl.tagFilters"
				    button-label="icon name"
				    item-label="icon name maker"
				    tick-property="ticked"
				    this-length="3"
					>
				</isteven-multi-select>
				
				<button class="qvr-button action" ng-disabled="manageCampaignCtrl.tagFilters.length == 0">
					<i class="check-mark"></i>
				</button>
			</div>	
			<div class="pagination-wrapper input-wrapper">
				<button class="qvr-button" ng-click="goToPage('beginning');" ng-disabled="currentPage == 1 || results.length == 0">
					<i class="fa fa-angle-double-left"></i>
				</button>
				<button class="qvr-button" ng-click="goToPage('down');" ng-disabled="currentPage == 1 || results.length == 0">
					<i class="fa fa-angle-left"></i>
				</button>
				<span class="pagination-info">
					<input type="number" min="1" max="9999" ng-model="currentPage" />
					<span>
						of 
						<span ng-hide="results.length == 0">{{noOfPages}}</span>
						<span ng-show="results.length == 0">1</span>
					</span>
			    </span>
				<button class="qvr-button" ng-click="goToPage('up');" ng-disabled="currentPage == noOfPages || results.length == 0">
					<i class="fa fa-angle-right right"></i>
				</button>
				<button class="qvr-button" ng-click="goToPage('end');" ng-disabled="currentPage == noOfPages|| results.length == 0">
					<i class="fa fa-angle-double-right right"></i>
				</button>
			</div>	

		</div>

		<div class="clearfix"></div>

		<div class="campaign-messages-table-wrapper qvr-form">
			<table>
			  <thead>
			    <tr>
			      <th>
			      	<input type="checkbox" id="select-all" ng-model="selectAll" ng-change="toggleSelected(); anyInputsSelected();" />
			      </th>
			      <th>
			      	<label>ID</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'id' && reverse == false}" ng-click="sortByFunc('id',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'id' && reverse == true}" ng-click="sortByFunc('id',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Label</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'label' && reverse == false}" ng-click="sortByFunc('label',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'label' && reverse == true}" ng-click="sortByFunc('label',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>To</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'to' && reverse == false}" ng-click="sortByFunc('to',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'to' && reverse == true}" ng-click="sortByFunc('to',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Location</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'location' && reverse == false}" ng-click="sortByFunc('location',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'location' && reverse == true}" ng-click="sortByFunc('location',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Start</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'start' && reverse == false}" ng-click="sortByFunc('start',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'start' && reverse == true}" ng-click="sortByFunc('start',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>End</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'end' && reverse == false}" ng-click="sortByFunc('end',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'end' && reverse == true}" ng-click="sortByFunc('end',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Status</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: sortOrderBy == 'status' && reverse == false}" ng-click="sortByFunc('status',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: sortOrderBy == 'status' && reverse == true}" ng-click="sortByFunc('status',true);"></i>
			      	</span>
			      </th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr ng-show="results.length == 0">
			  		<td></td>
			  		<td colspan="6">
			  			<p class="qvr-align-center">No Results</p></td>
			  		<td></td>
			  	</tr>
			    <tr  data-ng-repeat="msg in manageCampaignCtrl.campaignMessages | startFrom:startAt | orderBy:sortOrderBy:reverse | filter:search  as results" ng-show="$index >= startAt && $index <= endAt" ng-class="{last: endAt == $index}" >
			      <td><input type="checkbox" ng-model="msg.isSelected" ng-change="anyInputsSelected();" /></td>
			      <td><a ui-sref="messages.edit">{{msg.id}}</a></td>
			      <td><a ui-sref="messages.edit">{{msg.label}}</a></td>
			      <td>{{msg.to}}</td>
			      <td>{{msg.location}}</td>
			      <td>{{msg.start}}</td>
			      <td>{{msg.end}}</td>
			      <td>
					<div class="input-wrapper message-status-wrapper">
						<select class="qvr-select {{msg.status}}" ng-model="msg.status" >
							<option data-ng-repeat="obj in manageCampaignCtrl.statuses">{{obj}}</option>
						</select>
					</div>
			      </td>
			    </tr>
			  </tbody>
			</table>
			<div class="pagination-wrapper input-wrapper bottom">
				<button class="qvr-button" ng-click="goToPage('beginning');" ng-disabled="currentPage == 1 || results.length == 0">
					<i class="fa fa-angle-double-left"></i>
				</button>
				<button class="qvr-button" ng-click="goToPage('down');" ng-disabled="currentPage == 1 || results.length == 0">
					<i class="fa fa-angle-left"></i>
				</button>
				<span class="pagination-info">
					<input type="number" min="1" max="9999" ng-model="currentPage" />
					<span>
						of 
						<span ng-hide="results.length == 0">{{noOfPages}}</span>
						<span ng-show="results.length == 0">1</span>
					</span>
			    </span>
				<button class="qvr-button" ng-click="goToPage('up');" ng-disabled="currentPage == noOfPages || results.length == 0">
					<i class="fa fa-angle-right right"></i>
				</button>
				<button class="qvr-button" ng-click="goToPage('end');" ng-disabled="currentPage == noOfPages|| results.length == 0">
					<i class="fa fa-angle-double-right right"></i>
				</button>
			</div>	
		</div>

	</section>

</section>

