<header class="heading-bar">
	<h1>Manage Campaign</h1>
</header>
<section class="message-content-wrap manage-campaign">
	<form role="form" class="qvr-form manage-campaign-form" name="msgForm">
		<div class="float-right top-controls">
			<label class="qvr-label">Campaign Status</label>
			
			<select class="qvr-select select-status" ng-model="manageCampaignCtrl.manageCampaign.status" required>
				<option selected>Draft</option>
				<option>Inactive</option>
				<option>Active</option>
				<option>Closed</option>
			</select>
			<button type="submit" class="qvr-button action">Save Campaign</button>
		</div>
		<section class="form-wrapper">
			<div id="campaign-name-text" class="input-wrapper">
				<label class="qvr-label">Campaign Name</label>
				<input placeholder="" type="text" ng-model="manageCampaignCtrl.manageCampaign.campaignName" required>
			</div>
			<div id="campaign-id-text" class="input-wrapper">
				<label class="qvr-label">Campaign ID</label>
				<input placeholder="00000" type="text" disabled ng-model="manageCampaignCtrl.manageCampaign.campaignID">
			</div>
			<div class="delivery-box start-date">
				<label class="qvr-label">Start Date</label>
				<input type="text" class="date" ng-model="manageCampaignCtrl.manageCampaign.startDate" ng-click="manageCampaignCtrl.showStartDatePicker=true">
			</div>
			<div class="delivery-box start-time">
				<label class="qvr-label">Start Time</label>
				<input type="text" class="hourglass" ng-model="manageCampaignCtrl.manageCampaign.startTime" ng-click="manageCampaignCtrl.showStartTimePicker=true">
			</div>
			<div id="campaign-participants" class="input-wrapper">
				<label class="qvr-label">Campaign Participants <span>(Groups and Individuals)</span></label>
				<select class="qvr-select" ng-model="manageCampaignCtrl.manageCampaign.campaignParticipants" required>
					<option value="" selected>Select</option>
				</select>
			</div>
			<div class="clearfix"></div>
			<div id="campaign-description" class="input-wrapper">
				<label class="qvr-label">Campaign Description</label>
				<textarea ng-model="manageCampaignCtrl.manageCampaign.campaignDescription" class="campaign-description-textarea" required></textarea>
			</div>
			<div class="float-left">
				<div class="delivery-box end-date">
					<label class="qvr-label">End Date</label>
					<input type="text" class="date" ng-model="manageCampaignCtrl.manageCampaign.endDate" ng-click="manageCampaignCtrl.showEndDatePicker=true">
				</div>
				<div class="delivery-box end-time">
					<label class="qvr-label">End Time</label>
					<input type="text" class="hourglass" ng-model="manageCampaignCtrl.manageCampaign.endTime" ng-click="manageCampaignCtrl.showEndTimePicker=true">
				</div>
			<div class="clearfix"></div>
				<div id="marketing-assets" class="input-wrapper">
					<label class="qvr-label">Marketing Assets</label>
					<select class="qvr-select" ng-model="manageCampaignCtrl.manageCampaign.marketingAssets" required>
						<option value="" selected>Select</option>
					</select>
				</div>
				<div id="campaigns-tags" class="input-wrapper">
					<label class="qvr-label">Campaigns Tags</label>
					<select class="qvr-select" ng-model="manageCampaignCtrl.manageCampaign.campaignsTags" required>
						<optionv value="" selected>Add #Tags</option>
					</select>
				</div>
		    </div>
		</section>
	</form>
	<section class="campaign-messages-wrapper">
		<div class="campaign-messages-header qvr-form">
			<h1 class="float-left">Campaign Messages</h1>
			<button class="qvr-button action">+ NEW MESSAGE</button>
			<div class="search-wrapper">
				<label for="filter-by"><i class="fa fa-search"></i></label>
				<input type="search" class="search-campaigns" ng-model="manageCampaignCtrl.campaignMessages.searchCampaigns" ng-click="manageCampaignCtrl.showEndTimePicker=true" placeholder="Search Campaigns">
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="campaign-messages-filter-wrapper qvr-form">
			<div id="bulk-action" class="input-wrapper">
				<select class="qvr-select" ng-model="" required>
					<option value="" selected>Bulk Action</option>
				</select>
				<button class="qvr-button action">
					<i class="fa fa-check"></i>
				</button>
			</div>
			<div id="tag-filters" class="input-wrapper">
				<select class="qvr-select" ng-model="" required>
					<option value="" selected>Add #Tag Filters</option>
				</select>
				<button class="qvr-button action">
					<i class="fa fa-check"></i>
				</button>
			</div>	
			<div class="pagination-wrapper input-wrapper">
				<button class="qvr-button">
					<i class="fa fa-angle-double-left"></i>
				</button>
				<button class="qvr-button">
					<i class="fa fa-angle-left"></i>
				</button>
				<span class="pagination-info">
					<input type="text" value="0" />
					<span>
						of 
						<span>0</span>
					</span>
			    </span>


				<button class="qvr-button">
					<i class="fa fa-angle-right"></i>
				</button>
				<button class="qvr-button">
					<i class="fa fa-angle-double-right"></i>
				</button>
			</div>	

		</div>

		<div class="clearfix"></div>

		<div class="campaign-messages-table-wrapper qvr-form">
			<table>
			  <thead>
			    <tr>
			      <th><input type="checkbox" /></th>
			      <th><label>ID</label></th>
			      <th><label>Label</label></th>
			      <th><label>To</label></th>
			      <th><label>Location</label></th>
			      <th><label>Start</label></th>
			      <th><label>End</label></th>
			      <th><label>Status</label></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td><input type="checkbox" /></td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			    <tr>
			      <td><input type="checkbox" /></td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			    <tr>
			      <td><input type="checkbox" /></td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			  </tbody>
			</table>
			<div class="pagination-wrapper input-wrapper bottom">
				<button class="qvr-button">
					<i class="fa fa-angle-double-left"></i>
				</button>
				<button class="qvr-button">
					<i class="fa fa-angle-left"></i>
				</button>
				<span class="pagination-info">
					<input type="text" value="0" />
					<span>
						of 
						<span>0</span>
					</span>
			    </span>


				<button class="qvr-button">
					<i class="fa fa-angle-right"></i>
				</button>
				<button class="qvr-button">
					<i class="fa fa-angle-double-right"></i>
				</button>
			</div>	
		</div>

	</section>

</section>
</section>
