<header class="heading-bar">
	<h1>Campaign Center</h1>
</header>
	<section class="campaign-center-wrapper">
		<div class="campaign-center-header qvr-form">
			<button class="qvr-button action" ui-sref="campaigns.new-campaign">+ NEW CAMPAIGN</button>
			<div class="search-wrapper">
				<label for="filter-by"><i class="fa fa-search"></i></label>
				<input type="search" class="search-campaigns" ng-model="campaignCenterCtrl.search"  placeholder="Search Campaigns" ng-keypress="campaignCenterCtrl.resetCurrentPage()">
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="campaign-center-filter-wrapper qvr-form">
			<div id="bulk-action" class="input-wrapper">
				<select id="bulk-actions" class="qvr-select" ng-model="campaignCenterCtrl.bulkActionSelected" required>
					<option value="" selected>Bulk Action</option>
					<option value="Delete">Delete</option>
					<option value="Draft">Set To Draft</option>
					<option value="Live">Set To Live</option>
					<option value="Ended">Ended</option>
				</select>
				<button class="qvr-button action" ng-disabled="!campaignCenterCtrl.bulkActionSelected || !campaignCenterCtrl.isAnyInputsSelected" ng-click="campaignCenterCtrl.bulkActions()" >
					<i class="check-mark"></i>
				</button>
			</div>
			<div id="tag-filters" class="input-wrapper hide">
				<isteven-multi-select class="add-tag-filters float-left"
				    input-model="campaignCenterCtrl.campaignTags"
				    output-model="campaignCenterCtrl.tagFilters"
				    button-label="icon name"
				    item-label="icon name maker"
				    tick-property="ticked"
				    this-length="1"
					>
				</isteven-multi-select>

				<button class="qvr-button action" ng-disabled="campaignCenterCtrl.tagFilters.length == 0">
					<i class="check-mark"></i>
				</button>
			</div>
			<div class="pagination-wrapper input-wrapper">
				<button class="qvr-button" ng-click="campaignCenterCtrl.goToPage('beginning');" ng-disabled="campaignCenterCtrl.currentPage == 1 || results.length == 0">
					<i class="fa fa-angle-double-left"></i>
				</button>
				<button class="qvr-button" ng-click="campaignCenterCtrl.goToPage('down');" ng-disabled="campaignCenterCtrl.currentPage == 1 || results.length == 0">
					<i class="fa fa-angle-left"></i>
				</button>
				<span class="pagination-info">
					<input type="number" min="1" max="9999" ng-model="campaignCenterCtrl.currentPage" />
					<span>
						of
						<span ng-hide="results.length == 0">{{campaignCenterCtrl.noOfPages}}</span>
						<span ng-show="results.length == 0">1</span>
					</span>
			    </span>
				<button class="qvr-button" ng-click="campaignCenterCtrl.goToPage('up');" ng-disabled="campaignCenterCtrl.currentPage == campaignCenterCtrl.noOfPages || results.length == 0">
					<i class="fa fa-angle-right right"></i>
				</button>
				<button class="qvr-button" ng-click="campaignCenterCtrl.goToPage('end');" ng-disabled="campaignCenterCtrl.currentPage == campaignCenterCtrl.noOfPages|| results.length == 0">
					<i class="fa fa-angle-double-right right"></i>
				</button>
			</div>

		</div>

		<div class="clearfix"></div>

		<div class="campaign-center-table-wrapper qvr-form">
			<table>
			  <thead>
			    <tr>
			      <th>
			      	<input type="checkbox" id="select-all" ng-model="campaignCenterCtrl.selectAll" ng-change="campaignCenterCtrl.toggleSelected(); campaignCenterCtrl.anyInputsSelected();" />
			      </th>
			      <th>
			      	<label>ID</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'id' && campaignCenterCtrl.reverse == false}" ng-click="campaignCenterCtrl.sortByFunc('id',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'id' && campaignCenterCtrl.reverse == true}" ng-click="campaignCenterCtrl.sortByFunc('id',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Campaign Name</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'campaignName' && campaignCenterCtrl.reverse == false}" ng-click="campaignCenterCtrl.sortByFunc('campaignName',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'campaignName' && campaignCenterCtrl.reverse == true}" ng-click="campaignCenterCtrl.sortByFunc('campaignName',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Likes</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'likes' && campaignCenterCtrl.reverse == false}" ng-click="campaignCenterCtrl.sortByFunc('likes',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'likes' && campaignCenterCtrl.reverse == true}" ng-click="campaignCenterCtrl.sortByFunc('likes',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Saves</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'saves' && campaignCenterCtrl.reverse == false}" ng-click="campaignCenterCtrl.sortByFunc('saves',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'saves' && campaignCenterCtrl.reverse == true}" ng-click="campaignCenterCtrl.sortByFunc('saves',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Start</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'startDate' && campaignCenterCtrl.reverse == false}" ng-click="campaignCenterCtrl.sortByFunc('startDate',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'startDate' && campaignCenterCtrl.reverse == true}" ng-click="campaignCenterCtrl.sortByFunc('startDate',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>End</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'endDate' && campaignCenterCtrl.reverse == false}" ng-click="campaignCenterCtrl.sortByFunc('endDate',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'endDate' && campaignCenterCtrl.reverse == true}" ng-click="campaignCenterCtrl.sortByFunc('endDate',true);"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Status</label>
			      	<span>
			      		<i class="fa fa-caret-up" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'status' && campaignCenterCtrl.reverse == false}" ng-click="campaignCenterCtrl.sortByFunc('status',false);"></i>
			      		<i class="fa fa-caret-down" ng-class="{active: campaignCenterCtrl.sortOrderBy == 'status' && campaignCenterCtrl.reverse == true}" ng-click="campaignCenterCtrl.sortByFunc('status',true);"></i>
			      	</span>
			      </th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr ng-show="results.length == 0">
			  		<td></td>
			  		<td colspan="6">
			  			<p class="qvr-align-center">No Results</p></td>
			  		<td></td>
			  	</tr>

			    <tr data-ng-repeat="campaign in campaignCenterCtrl.campaignData | startFrom:startAt | orderBy:campaignCenterCtrl.sortOrderBy:campaignCenterCtrl.reverse | filter:campaignCenterCtrl.search  as results" ng-show="$index >= campaignCenterCtrl.startAt && $index <= campaignCenterCtrl.endAt" ng-class="{last: campaignCenterCtrl.endAt == $index}">
			      <td><input type="checkbox" ng-model="campaign.isSelected" ng-change="campaignCenterCtrl.anyInputsSelected();" /></td>
			      <td><a ui-sref="campaigns.edit-campaign({ _id: campaign.sid })">{{campaign.sid}}</a></td>
			      <td><a ui-sref="campaigns.edit-campaign({ _id: campaign.sid })">{{campaign.name}}</a></td>
			      <td>{{campaign.likes}}</td>
			      <td>{{campaign.saves}}</td>
			      <td>{{campaign.startDate}}</td>
			      <td>{{campaign.endDate}}</td>
			      <td>
							<div class="input-wrapper campaign-status-wrapper">
								<select class="qvr-select {{campaign.status}}" ng-model="campaign.status" >
									<option data-ng-repeat="status in campaignCenterCtrl.statuses">{{status}}</option>
								</select>
							</div>
			      </td>
			    </tr>
			  </tbody>
			</table>
			<div class="pagination-wrapper input-wrapper bottom">
				<button class="qvr-button" ng-click="campaignCenterCtrl.goToPage('beginning');" ng-disabled="campaignCenterCtrl.currentPage == 1 || results.length == 0">
					<i class="fa fa-angle-double-left"></i>
				</button>
				<button class="qvr-button" ng-click="campaignCenterCtrl.goToPage('down');" ng-disabled="campaignCenterCtrl.currentPage == 1 || results.length == 0">
					<i class="fa fa-angle-left"></i>
				</button>
				<span class="pagination-info">
					<input type="number" min="1" max="9999" ng-model="campaignCenterCtrl.currentPage" />
					<span>
						of
						<span ng-hide="results.length == 0">{{campaignCenterCtrl.noOfPages}}</span>
						<span ng-show="results.length == 0">1</span>
					</span>
			    </span>
				<button class="qvr-button" ng-click="campaignCenterCtrl.goToPage('up');" ng-disabled="campaignCenterCtrl.currentPage == campaignCenterCtrl.noOfPages || results.length == 0">
					<i class="fa fa-angle-right right"></i>
				</button>
				<button class="qvr-button" ng-click="campaignCenterCtrl.goToPage('end');" ng-disabled="campaignCenterCtrl.currentPage == campaignCenterCtrl.noOfPages|| results.length == 0">
					<i class="fa fa-angle-double-right right"></i>
				</button>
			</div>
		</div>

	</section>
