---
name: enterprise/profile
url: /enterprise/profile
---

<div zf-tabs="" class="nav-tabs" id="displaced-tabs" displaced="true">

	<div zf-tab="" title="Profile">

		<section ng-controller="EntepriseController">
			<div class="clearfix">
				<img ng-src="{{company.logo}}" alt="Logo" class="avatar">
				
				<div class="profile-details">
					<h1>{{company.companyName}}</h1>
					<h3 class="subheader">@{{company.username}}</h3>
				</div>
			</div>
			<hr>

			<form action="" class="profile-form">
				<label>
					Description
					<span class="inline-label">
						<textarea class="desc">{{user.description}}</textarea>
					</span>
				</label>
				<hr>

				<label>
					Address
					<span class="inline-label">
						<input type="Address"  >
					</span>
				</label>

				<a class="button expand">Save Changes</a>
			</form>
		</section>

	</div>



	<div zf-tab="" title="Tab 2">
		<section>
				Users

		</section>
	</div>

</div>
 



<div class="grid-block page-profile" >
	<div class="grid-content shrink">

		<div zf-tab-content="" target="displaced-tabs"></div>
		
	</div>

</div>
