---
name: messages
url: /enteprise/messages
---

<div class="grid-block page-messages">
	<div id="sidebar" class="medium-3 grid-block">
		<div class="grid-content">
			<div class="g-side-nav">
				<br>
				<a class="expand button text-left" href="#">
					<img zf-iconic="" icon="dashboard" size="small">
					Dashboard
				</a>
				
				<hr>

				<label>
					<span class="inline-label">
						<span class="form-label">
							<img zf-iconic="" icon="magnifying-glass" size="small" class="iconic-color-primary">
						</span>
						<input type="search" placeholder="Search Messages">
					</span>
				</label>


				<ul class="message-side-list">

					<li >
						<a>
							Message 1
							<span class="float-right success label">
								active
							</span>
						</a>
					</li>
					<li >
						<a>
							Message 2
							<span class="float-right success label">
								active
							</span>
						</a>
					</li>
					<li >
						<a>
							Message 3
							<span class="float-right success label">
								active
							</span>
						</a>
					</li>

				</ul>


				<a href="" class="button large align-center expanded">+ New Message</a>
			</div>
		</div>
	</div>

	<div id="main" class="medium-7 grid-block">
		<div class="grid-content">
			
			<section class="message-active-list" ng-controller="ActiveMessageController">
				<header>
					<h2 class="float-left">Active Messages</h2>
					<div class="stats">
						<span>Sent</span>
						<span>Read</span>
						<span>Likes</span>
						<span>Comments</span>
						<span>Forwards</span>
						<span>Saves</span>
					</div>
				</header>
				<ul>
					<li ng-repeat="message in active.messages">
						<a>{{message.content}}</a>
						<div class="stats">
							<span>{{message.sentCount}}</span>
							<span>{{message.recipientCount}}</span>
							<span>{{message.likeCount}}</span>
							<span>{{message.commentCount}}</span>
							<span>{{message.forwardCount}}</span>
							<span>{{message.saveCount}}</span>
						</div>
					</li>
				</ul>
				
			</section>

			<section class="live-feed">
				h
			</section>

		</div>
	</div>
</div>