---
name: home
url: /
---

<div class="page page--login">

	<section class="corporate-info" ng-controller="EnterpriseCtrl as enterpriseCtrl">
		<div class="clearfix">

			<img ng-src="{{enterpriseCtrl.company.logo}}" alt="logo" class="corp-logo">
		
			<div class="corp-details">
				{{enterpriseCtrl.company.companyName}}
				<br>
				@{{enterpriseCtrl.company.username}}
			</div>
		</div>

		<div class="arrow-down"></div>
	</section>

	<form class="login-form qvr-form on-dark  medium-4 medium-offset-4" ng-submit="userProfileCtrl.userLogin()" ng-controller="UserProfileCtrl as userProfileCtrl">

		<input type="text" placeholder="Username" ng-model="userProfileCtrl.userLoginInfo.username" required>
		<input type="password" placeholder="Password" ng-model="userProfileCtrl.userLoginInfo.password" required>

		<button type="submit" class="qvr-button on-dark float-left">Login</button>
		<a ui-sref="register" class="qvr-button on-dark float-right">Register New User</a>


	</form>

</div>