---
name: home
url: /
---

<div class="page page--login">

	<form class="login-form qvr-form on-dark  medium-4 medium-offset-4" ng-submit="appCtrl.userLogin()">
		<input type="text" placeholder="Username" ng-model="appCtrl.userLoginInfo.username" required>
		<input type="password" placeholder="Password" ng-model="appCtrl.userLoginInfo.password" required>

		<button type="submit" class="qvr-button info on-dark float-left">Login</button>
		<a ui-sref="register" class="qvr-button info on-dark float-right">Register New User</a>
	</form>

</div>