<header class="heading-bar">
	<h1>reporting center</h1>
</header>

<div class="reporting-center-wrapper">
	<ul class="basic">
		<li class="follower-summary" ng-click="goToReport('reporting.follower-summary');">
			<i></i>
			<a ui-sref="reporting.follower-summary">Follower Summary</a>
		</li>
		<li class="single-campaign" ng-click="goToReport('reporting.campaign-summary');">
			<i></i>
			<a ui-sref="reporting.campaign-summary">Campaign Summary</a>
		</li>
		<li class="comment-summary">
			<i></i>
			<a ui-sref="reporting.comment-summary">Comment Summary</a>
		</li>				
	</ul>
	<div class="clearfix"></div>

	<ul class="upgraded">
		<li class="regional-summary">
			<span class="ribbon">
				Upgrade for report
				<span class="pointer"></span>
			</span>
			<div class="clearfix"></div>
			<i></i>
			<a ui-sref="reporting.regional-summary">Regional Summary</a>
		</li>
		<li class="multi-campaign">
			<span class="ribbon">
				Upgrade for report
				<span class="pointer"></span>
			</span>
			<div class="clearfix"></div>
			<i></i>
			<a ui-sref="reporting.multi-campaign">Multi Campaign</a>
		</li>
		<li class="dynamic-reports">
			<span class="ribbon yellow">
				Upgrade for report
				<span class="pointer"></span>
			</span>
			<div class="clearfix"></div>
			<i></i>
			<a ui-sref="reporting.dynamic-reports">Dynamic Reports</a>
		</li>				
	</ul>

</div>



