<div class="enterprise-users">
	
	<header>

	</header>


	<section class="user-section">
		<h2>&nbsp;</h2>
		<div class="g-user-list">
			<a zf-open="addUserModal" class="qvr-button warning"> + Add User</a>
		</div>

	</section>


	<section class="user-section">

		<h2>Users</h2>

		<ul class="g-user-list">
			<li ng-repeat="user in enterpriseCtrl.company.users">
				<img ng-src="{{user.avatar}}" alt="avatar" class="avatar">
				
				<div>
					<label class="qvr-label">{{user.name}}</label>
					{{user.title}}
				</div>

				<div class="user-rights">
					<label class="qvr-label">User Rights</label>
					<a class="qvr-button hollow small" href="#">Make Admin</a>
					<a class="qvr-button action small" href="#">Suspend</a>
					<a class="qvr-button hollow small" href="#">Remove</a>
				</div>
				
				
			</li>
		</ul>
	</section>


	<section class="user-section">
		
		<h2>Administators</h2>

		<ul class="g-user-list">
			<li ng-repeat="user in enterpriseCtrl.company.administrators">
				<img ng-src="{{user.avatar}}" alt="avatar" class="avatar">
				<div>
						<label class="qvr-label">{{user.name}}</label>
						{{user.title}}
					</div>
				
				<div class="user-rights">
						<label class="qvr-label">User Rights</label>
						<a class="qvr-button hollow small" href="#">Downgrade</a>
						<a class="qvr-button action small" href="#">Suspend</a>
						<a class="qvr-button hollow small" href="#">Remove</a>
					</div>
			</li>
		</ul>
	</section>	



<!-- Add User Modal -->
<div zf-modal="" id="addUserModal">
	<a zf-close="" class="close-button">×</a>
	<h2>+ Add User</h2>
	<hr>

	<form role="form" class="qvr-form" ng-submit="enterpriseCtrl.addUser()">
		<label>Type of User</label>
		<input type="radio" name="userType" value="admin" id="type_admin" ng-model="enterpriseCtrl.newUser.userType"><label for="type_admin">Admin</label>
		<input type="radio" name="userType" value="user" id="type_user" ng-model="enterpriseCtrl.newUser.userType"><label for="type_user">User</label>
		<hr>
		<br>

		<label class="qvr-label">Email</label>
		<input type="email"  ng-model="enterpriseCtrl.newUser.email" required>

		<label  class="qvr-label">Name</label>
		<input type="text" ng-model="enterpriseCtrl.newUser.name" required>

		<label  class="qvr-label">Title</label>
		<input type="text" ng-model="enterpriseCtrl.newUser.title" required>

		<hr>
		<div class="float-right">
			<a zf-close="" class="qvr-button warning hollow">Cancel</a>
			<button type="submit" class="qvr-button action">Add User</button>
		</div>

	</form>
</div>

</div>
