<header class="heading-bar">
	<h1>Report</h1>
</header>

<section class="follower-summary-wrapper">
	<form role="form" class="qvr-form follower-summary-form" name="followerSummaryForm">
		<div class="float-right top-controls">
			<div class="delivery-box start-date">
				<label class="qvr-label">Start Date</label>
				<input type="text" class="date" ng-model="followerSummaryCtrl.followerSummaryQuery.startDate" ng-click="followerSummaryCtrl.showStartDatePicker=true">
				<section class="date-selector" ng-show="followerSummaryCtrl.showStartDatePicker">
					<date-picker
					title="Start Date"
					name="start-date"
					ng-model="followerSummaryCtrl.followerSummaryQuery.startDate"
					start-date="followerSummaryCtrl.followerSummaryQuery.startDate"
					start-time="followerSummaryCtrl.followerSummaryQuery.startTime"
					end-date="followerSummaryCtrl.followerSummaryQuery.endDate"
					end-time="followerSummaryCtrl.followerSummaryQuery.endTime"
					disable-previous-dates="false"
					show-picker="followerSummaryCtrl.showStartDatePicker"
					></date-picker>
				</section>
			</div>
			<div class="delivery-box end-date">
					<label class="qvr-label">End Date</label>
					<input type="text" class="date" ng-model="followerSummaryCtrl.followerSummaryQuery.endDate" ng-click="followerSummaryCtrl.showEndDatePicker=true">
					<section class="date-selector" ng-show="followerSummaryCtrl.showEndDatePicker">
					<date-picker
					title="End Date"
					name="end-date"
					ng-model="followerSummaryCtrl.followerSummaryQuery.endDate"
					start-date="followerSummaryCtrl.followerSummaryQuery.startDate"
					start-time="followerSummaryCtrl.followerSummaryQuery.startTime"
					end-date="followerSummaryCtrl.followerSummaryQuery.endDate"
					end-time="followerSummaryCtrl.followerSummaryQuery.endTime"
					disable-previous-dates="false"
					show-picker="followerSummaryCtrl.showEndDatePicker"
					></date-picker>
				</section>
			</div>
			<div class="button-wrapper">
				<button type="submit" class="qvr-button action">RUN REPORT</button>
				<button  class="qvr-button action">EXPORT</button>
			</div>
		</div>
	</form>
	<section class="follower-summary-content-wrapper">
		<div class="follower-summary-header qvr-form">
			<h1 class="float-left">FOLLOWER SUMMARY</h1>
		</div>

		<div class="clearfix"></div>

		<div class="follower-summary-filter-wrapper qvr-form">
		
			<div class="pagination-wrapper input-wrapper">
				<button class="qvr-button">
					<i class="fa fa-angle-double-left"></i>
				</button>
				<button class="qvr-button">
					<i class="fa fa-angle-left"></i>
				</button>
				<span class="pagination-info">
					<input type="text" value="0" />
					<span>
						of 
						<span>0</span>
					</span>
			    </span>


				<button class="qvr-button">
					<i class="fa fa-angle-right right"></i>
				</button>
				<button class="qvr-button">
					<i class="fa fa-angle-double-right right"></i>
				</button>
			</div>	

		</div>

		<div class="clearfix"></div>
		{{followerSummaryCtrl.followerSummaryData}}

		<div class="follower-summary-table-wrapper qvr-form">
			<table>
			  <thead>
			    <tr>
			      <th>
			      	<input type="checkbox" />
			      </th>
			      <th>
			      	<label>Start</label>
			      	<span>
			      		<i class="fa fa-caret-up"></i>
			      		<i class="fa fa-caret-down"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Start</label>
			      	<span>
			      		<i class="fa fa-caret-up"></i>
			      		<i class="fa fa-caret-down"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>New</label>
			      	<span>
			      		<i class="fa fa-caret-up"></i>
			      		<i class="fa fa-caret-down"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Lost</label>
			      	<span>
			      		<i class="fa fa-caret-up"></i>
			      		<i class="fa fa-caret-down"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Returned</label>
			      	<span>
			      		<i class="fa fa-caret-up"></i>
			      		<i class="fa fa-caret-down"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>Total</label>
			      	<span>
			      		<i class="fa fa-caret-up"></i>
			      		<i class="fa fa-caret-down"></i>
			      	</span>
			      </th>
			      <th>
			      	<label>% +/-</label>
			      	<span>
			      		<i class="fa fa-caret-up"></i>
			      		<i class="fa fa-caret-down"></i>
			      	</span>
			      </th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr data-ng-repeat="summary in followerSummaryCtrl.followerSummaryData">
			      <td><input type="checkbox" /></td>
			      <td>{{summary.startDate | date}}</td>
			      <td>{{summary.startNumber}}</td>
			      <td>{{summary.new}}</td>
			      <td>{{summary.losted}}</td>
			      <td>{{summary.returned}}</td>
			      <td>{{summary.total}}</td>
			      <td>{{summary.margin}}</td>
			    </tr>
			  </tbody>
			</table>
			<div class="pagination-wrapper input-wrapper bottom">
				<button class="qvr-button">
					<i class="fa fa-angle-double-left"></i>
				</button>
				<button class="qvr-button">
					<i class="fa fa-angle-left"></i>
				</button>
				<span class="pagination-info">
					<input type="text" value="0" />
					<span>
						of 
						<span>0</span>
					</span>
			    </span>


				<button class="qvr-button">
					<i class="fa fa-angle-right right"></i>
				</button>
				<button class="qvr-button">
					<i class="fa fa-angle-double-right right"></i>
				</button>
			</div>	
		</div>

	</section>

</section>



