<div class="g-side-nav message-side-nav">
	<div class="heading-bar">
		<a ui-sref="messages.dashboard" class="qvr-btn-dashboard" ng-click="openDashboard()">
			<span class="icon i-dashboard"></span>
			Dashboard
		</a>
	</div>

	<a ui-sref="messages.new" class="qvr-button warning qvr-btn-new-message">+ New Message</a>

	<div class="qvr-search-wrap">
		<span class="icon i-search"></span>
		<input type="search" class="qvr-search-messages" placeholder="Search Messages">
	</div>

	<ul class="message-side-list" ng-controller="MessageListCtrl as messageListCtrl">
		<li ng-repeat="message in messageListCtrl.messages.messages">
			<a  ui-sref="messages.detail({_id:message._id})" ui-sref-active="active"  >
				<span class="status-label">
					{{message.status}}
				</span>
				{{message.messageTitle}}
				<span class="icon i-side-bar-arrow float-right"></span>
			</a>
		</li>
	</ul>
</div>