<header class="heading-bar">
	<h1>Compose</h1>
</header>
<section class="message-content-wrap new-message" >
	<form role="form" class="qvr-form create-edit-message-form" name="msgForm">
		<div class="float-right top-controls">
			<label class="qvr-label">Message Status </label>
			
			<select class="qvr-select select-status" ng-model="newMessageCtrl.newMessage.status" required>
				<option>Draft</option>
				<option>Inactive</option>
				<option>Active</option>
				<option>Closed</option>
			</select>
			<button class="qvr-button action">Preview</button>

			<button zf-open="saveMessageModal"  class="qvr-button action" ng-disabled="!msgForm.$valid">Save Message</button>
			<div zf-modal="" id="saveMessageModal">
				<a zf-close="" class="close-button">×</a>
				<p class="qvr-align-center">
					Sample text
				</p>
				<div class="modal-button-wrapper qvr-align-center">
					<button type="submit" class="qvr-button action" ng-click="newMessageCtrl.createNewMessage(newMessageCtrl.newMessage)">Save</button>
					<button zf-close="" class="qvr-button cancel">Cancel</button>
				</div>
			</div>
			
		</div>
		<section class="form-upper">
			<span id="msg-title-text" class="input-wrapper">
				<label class="qvr-label">Message Label</label>
				<input placeholder="" type="text" ng-model="newMessageCtrl.newMessage.messageTitle" required>
			</span>
			
			<span id="msg-id-text" class="input-wrapper">
				<label class="qvr-label">Message ID</label>
				<input placeholder="00000" type="text" disabled>
			</span>
			
			<span id="campaign-select" class="input-wrapper">
				<label class="qvr-label">Associated Campaign</label>
				<select class="qvr-select" required>
					<option>No campaigns currently available</option>
				</select>
			</span>

			<span id="campaign-details" class="input-wrapper">
				<label class="qvr-label">Campaign Details</label>
				<select class="qvr-select" required>
					<option>----------------</option>
				</select>
			</span>

			<span id="message-tags" class="input-wrapper">
					<label class="qvr-label">Message Tags</label>
					<select class="qvr-select" required>
						<option>Add #Tags</option>
					</select>
				</span>
		</section>
		
		<section class="content-row">
			<section class="column-3">
				<label class="qvr-label">Recipients</label>
				<div class="message-recipients">
					<span class="targeted-followers-label">Targeted Followers</span>
					<span class="targeted-followers-count">0</span>
				</div>
<!--
				<div class="target-filters">
					<h2>TARGETING FILTERS</h2>
				</div>

				<span id="targeting-filters" class="input-wrapper">
					<label class="qvr-label">Country</label>
					<select class="qvr-select">
						<option>Canada</option>
						<option>USA</option>
					</select>

					<label class="qvr-label">State/Province</label>
					<select class="qvr-select">
						<option>----------------</option>
					</select>

					<label class="qvr-label">City</label>
					<select class="qvr-select">
						<option>----------------</option>
					</select>					

					<label class="qvr-label">Sex</label>
					<select class="qvr-select">
						<option>Male</option>
						<option>Female</option>
					</select>

					<label class="qvr-label">Age</label>
					<select class="qvr-select">
						<option>Above 18</option>
					</select>

					<label class="qvr-label">Income</label>
					<select class="qvr-select">
						<option>Above $100,000</option>
					</select>

					<label class="qvr-label">Education</label>
					<select class="qvr-select">
						<option>All</option>
					</select>	

					<label class="qvr-label">Employment</label>
					<select class="qvr-select">
						<option>All</option>
					</select>

					<label class="qvr-label">Other</label>
					<select class="qvr-select">
						<option>All</option>
					</select>

					<label class="qvr-label">Delivery Information</label>	
					<div class="switch-wrapper delivery-info">
							<span class="icon i-location-enter" ng-class="{active: newMessageCtrl.newMessage.discoverOn=='enter'}"></span>
							<div class="switch enter-exit-switch">
								<input type="checkbox" id="enter-exit-switch" ng-true-value="'leave'" ng-false-value="'enter'" ng-model="newMessageCtrl.newMessage.discoverOn">
								<label for="enter-exit-switch"></label>
							</div>
							<span class="icon i-location-leave" ng-class="{active: newMessageCtrl.newMessage.discoverOn=='leave'}" ></span>

							<p>
							Recipient will know<br>
							 <span class="qvr-blue">WHERE</span> and <span class="qvr-blue">WHEN</span><br/>
							 they will receive your message
							</span>
						</p>
					</div>				
				</span> -->
			</section>
			<section class="column-3" flow-init flow-name="uploader.flow" flow-files-added="processFiles($files)" flow-files-added="saveFiles($files)">
				<label class="qvr-label">Message Content</label>

				<div id="text-area-upload-wrapper">
					<textarea ng-model="newMessageCtrl.newMessage.content" id="upload-text-area" class="message-content" placeholder="Insert Content" required></textarea>

					<div class="preview-image-wrapper" >

						<ul >
							<li ng-repeat="image in uploader.flow.files track by $index" ng-class="{'last': ($index+1) % 3 == 0}">
								<i class="fa fa-times-circle" ng-click="removeFile($index);"></i>
						      	<img class="preview hide" flow-img="image"/><br>
						        <img class="preview" ng-src="{{newMessageCtrl.newMessage.assets[$index]}}"/>
						    </li>
						</ul>
				    </div>
					<span class="attach-asset" flow-btn>
						<span class="icon i-camera"></span>
						<span class="attachment-count">
				    		{{uploader.flow.files.length}} Attachments</span>
				    	</span>
					</span>
					<div class="clearfix"></div>
				</div>
				
			   
			    <div class="clearfix"></div>
				
			</section>
			<section class="column-3">
				<section class="time-selector" ng-show="newMessageCtrl.showStartTimePicker">
					<time-picker
					title="Start Time"
					name="start-time"
					ng-model="newMessageCtrl.newMessage.startTime"
					start-date="newMessageCtrl.newMessage.startDate"
					start-time="newMessageCtrl.newMessage.startTime"
					end-date="newMessageCtrl.newMessage.endDate"
					end-time="newMessageCtrl.newMessage.endTime"
					disable-previous-dates="true" 
					show-picker="newMessageCtrl.showStartTimePicker"
					></time-picker>
				</section>
				
				<section class="time-selector" ng-show="newMessageCtrl.showEndTimePicker">
					<time-picker
					title="End Time"
					name="end-time"
					ng-model="newMessageCtrl.newMessage.endTime"
					start-date="newMessageCtrl.newMessage.startDate"
					start-time="newMessageCtrl.newMessage.startTime"
					end-date="newMessageCtrl.newMessage.endDate"
					end-time="newMessageCtrl.newMessage.endTime"
					disable-previous-dates="true" 
					show-picker="newMessageCtrl.showEndTimePicker"
					></time-picker>
				</section>
				
				<section class="date-selector" ng-show="newMessageCtrl.showStartDatePicker">
					<date-picker
					title="Start Date"
					name="start-date"
					ng-model="newMessageCtrl.newMessage.startDate"
					start-date="newMessageCtrl.newMessage.startDate"
					start-time="newMessageCtrl.newMessage.startTime"
					end-date="newMessageCtrl.newMessage.endDate"
					end-time="newMessageCtrl.newMessage.endTime"
					disable-previous-dates="true" 
					show-picker="newMessageCtrl.showStartDatePicker"
					></date-picker>
				</section>
				
				<section class="date-selector" ng-show="newMessageCtrl.showEndDatePicker">
					<date-picker
					title="End Date"
					name="end-date"
					ng-model="newMessageCtrl.newMessage.endDate"
					start-date="newMessageCtrl.newMessage.startDate"
					start-time="newMessageCtrl.newMessage.startTime"
					end-date="newMessageCtrl.newMessage.endDate"
					end-time="newMessageCtrl.newMessage.endTime"
					disable-previous-dates="true" 
					show-picker="newMessageCtrl.showEndDatePicker"
					></date-picker>
				</section>
				
				<section class="time-selector" ng-hide="newMessageCtrl.showStartTimePicker || newMessageCtrl.showEndTimePicker || newMessageCtrl.showStartDatePicker || newMessageCtrl.showEndDatePicker">
					<h2>Add Delivery Time<br/> & Location</h2>
					
					<div class="delivery-box start-date">
						<label class="qvr-label">Start Date:</label>
						<input type="text" class="date" ng-model="newMessageCtrl.newMessage.startDate" ng-click="newMessageCtrl.showStartDatePicker=true">
					</div>
					<div class="delivery-box start-time">
						<label class="qvr-label">Start Time:</label>
						<input type="text" class="hourglass" ng-model="newMessageCtrl.newMessage.startTime" ng-click="newMessageCtrl.showStartTimePicker=true">
					</div>
					<div class="delivery-box end-date">
						<label class="qvr-label">End Date:</label>
						<input type="text" class="date" ng-model="newMessageCtrl.newMessage.endDate" ng-click="newMessageCtrl.showEndDatePicker=true">
					</div>
					<div class="delivery-box end-time">
						<label class="qvr-label">End Time:</label>
						<input type="text" class="hourglass" ng-model="newMessageCtrl.newMessage.endTime" ng-click="newMessageCtrl.showEndTimePicker=true">
					</div>
					<section class="location-section" ng-controller="MapCoordinatesCtrl">
						<label class="qvr-label">Select Preset Locations</label>
						<select class="qvr-select" required>
							<option>---</option>
						</select>

						
						<div class="map-search-wrap" >

								
							<label class="qvr-label">Create Custom Delivery Location</label>
						

							<span class="icon i-location-large"></span>
							<div class="search-button" ng-click="doSearch()">
								<span class="icon i-search-white"></span>
							</div>
							<input places-auto-complete type="search" ng-model="newMessageCtrl.search" on-place-changed="placeChanged(place)" placeholder="Enter Address">
						</div>
						<div  class="ng-scope">
							<map center="43.642566,-79.387057" zoom="12" style="height:250px">
							<!--
							<info-window id="1" position="43.642566,-79.387057" visible="true">
							<div ng-non-bindable="">
									Toronto, ON
							</div>
							</info-window>
							-->
							</map>
						</div>
						<div class="radius">
							<span><input ng-model="newMessageCtrl.newMessage.range" ng-change="checkRange()"></span><span class="km"> km</span> radius
						</div>
						<div class="radius-wrapper">
							<span class="radius-minus" radius-interval-button="minus" range-value="newMessageCtrl.newMessage.range" ng-click="map_range_change('minusRange')" >-</span>
							<input type="range" class="radius-range" id="radius-range-input" ng-model="newMessageCtrl.newMessage.range" step ="0.50" ng-change="">
							<span class="radius-plus" radius-interval-button="add" range-value="newMessageCtrl.newMessage.range" ng-click="map_range_change('addRange')" >+</span>
						</div>

						<div class="switch-wrapper">
							<span class="icon i-location-enter" ng-class="{active: newMessageCtrl.newMessage.discoverOn=='enter'}"></span>
							<div class="switch enter-exit-switch">
								<input type="checkbox" id="enter-exit-switch" ng-true-value="'leave'" ng-false-value="'enter'" ng-model="newMessageCtrl.newMessage.discoverOn">
								<label for="enter-exit-switch"></label>
							</div>
							<span class="icon i-location-leave" ng-class="{active: newMessageCtrl.newMessage.discoverOn=='leave'}" ></span>

							<p>
							Recipient discovers message
							<br>
							when <span ng-show="newMessageCtrl.newMessage.discoverOn=='enter'" class="qvr-blue">entering</span><span ng-show="newMessageCtrl.newMessage.discoverOn=='leave'" class="qvr-blue">leaving</span> the <span class="qvr-blue">{{newMessageCtrl.newMessage.range}} KM</span> radius
						</p>
						</div>
						
						
					</section>
				</section>
			</section>
		</section>
	</form>
</section>