<header class="heading-bar">
	<h1>{{newMessageCtrl.title}}</h1>
</header>

<section class="message-content-wrap new-message">
	<form role="form" class="qvr-form create-edit-message-form" ng-submit="newMessageCtrl.saveMessage()">
		<div class="float-right top-controls">
			<label class="qvr-label">Message Status </label>
			
			<select class="qvr-select select-status" ng-model="newMessageCtrl.newMessage.status" required>
				<option>Draft</option>
				<option>Inactive</option>
				<option>Active</option>
				<option>Closed</option>
			</select>
			
			<button type="submit" class="qvr-button action">Save Message</button>
		</div>

		<section class="form-upper">
			<span id="msg-title-text" class="input-wrapper">
				<label class="qvr-label">Message Label</label>
				<input placeholder="" type="text" ng-model="newMessageCtrl.newMessage.messageTitle" required>
			</span>
			
			<span class="input-wrapper">
				<label class="qvr-label">Message ID</label>
				<div class="msg-id">558ad4daed1954f366cd0c4a</div>
			</span>
			
			<span id="campaign-select" class="input-wrapper">
				<label class="qvr-label">Associated Campaign</label>
				<select class="qvr-select" required>
					<option>No campaigns currently available</option>
				</select>
			</span>
		</section>
			
		<section class="content-row">
			<section class="column-3">
				<label class="qvr-label">Recipients</label>
				<div class="message-recipients">
					<span class="targeted-followers-label">Targeted Followers</span>
					<span class="targeted-followers-count">0</span>
				</div>
				
				<label class="qvr-label">Message Content</label>
				<textarea ng-model="newMessageCtrl.newMessage.content" class="message-content" placeholder="Insert Content" required></textarea>
				
				<span class="attach-asset"><span class="icon i-camera"><input type="file" file-model="newMessageCtrl.newMessage.file"/></span></span>
				
				<span>{{newMessageCtrl.newMessage.file.name}}</span>
			</section>

			<section class="column-3">
				<section class="location-section">
					<h2>Add Delivery Location</h2>
					
					<label class="qvr-label">Select Preset Locations</label>
					<select class="qvr-select" required>
						<option>---</option>
					</select>
					
					<div class="map-search-wrap">
						<label class="qvr-label">Create Custom Delivery Location</label>
						<span class="icon i-location-large"></span>
						<div class="search-button" ng-click="doSearch()">
							<span class="icon i-search-white"></span>
						</div>
						<input type="search" ng-model="newMessageCtrl.search" placeholder="Enter Address">
					</div>

					<div ng-controller="MapCoordinatesCtrl" class="ng-scope">
						<map center="43.642566,-79.387057" zoom="12" style="height:250px">
							<!--
							<info-window id="1" position="43.642566,-79.387057" visible="true">
							<div ng-non-bindable="">
								Toronto, ON
							</div>
							</info-window>
							-->
						</map>
					</div>

					<div class="radius">
						<span><input ng-model="newMessageCtrl.newMessage.range"></span><span> km</span> radius
					</div>

					<input type="range" class="radius-range" ng-model="newMessageCtrl.range_meter" ng-change="checkRange()" ng-mouseup="newMessageCtrl.range_meter=50;checkRange();">
				</section>
			</section>

			<section class="column-3">
				<section class="date-selector" ng-show="newMessageCtrl.showStartDatePicker">
					<date-picker
						title="Start Date"
						name="start-date"
						ng-model="newMessageCtrl.newMessage.startDate"
						start-date="newMessageCtrl.newMessage.startDate"
						start-time="newMessageCtrl.newMessage.startTime"
						end-date="newMessageCtrl.newMessage.endDate"
						end-time="newMessageCtrl.newMessage.endTime"
						show-me="newMessageCtrl.showStartDatePicker"
					></date-picker>
				</section>
				
				<section class="time-selector" ng-show="newMessageCtrl.showStartTimePicker">
					<time-picker
						title="Start Time"
						name="start-time"
						ng-model="newMessageCtrl.newMessage.startTime"
						start-date="newMessageCtrl.newMessage.startDate"
						start-time="newMessageCtrl.newMessage.startTime"
						end-date="newMessageCtrl.newMessage.endDate"
						end-time="newMessageCtrl.newMessage.endTime"
						show-me="newMessageCtrl.showStartTimePicker"
					></time-picker>
				</section>
				
				<section class="date-selector" ng-show="newMessageCtrl.showEndDatePicker">
					<date-picker
						title="End Date"
						name="end-date"
						ng-model="newMessageCtrl.newMessage.endDate"
						start-date="newMessageCtrl.newMessage.startDate"
						start-time="newMessageCtrl.newMessage.startTime"
						end-date="newMessageCtrl.newMessage.endDate"
						end-time="newMessageCtrl.newMessage.endTime"
						show-me="newMessageCtrl.showEndDatePicker"
					></date-picker>
				</section>
				
				<section class="time-selector" ng-show="newMessageCtrl.showEndTimePicker">
					<time-picker
						title="End Time"
						name="end-time"
						ng-model="newMessageCtrl.newMessage.endTime"
						start-date="newMessageCtrl.newMessage.startDate"
						start-time="newMessageCtrl.newMessage.startTime"
						end-date="newMessageCtrl.newMessage.endDate"
						end-time="newMessageCtrl.newMessage.endTime"
						show-me="newMessageCtrl.showEndTimePicker"
					></time-picker>
				</section>
				
				<section class="time-selector" ng-hide="newMessageCtrl.showStartTimePicker || newMessageCtrl.showEndTimePicker || newMessageCtrl.showStartDatePicker || newMessageCtrl.showEndDatePicker">
					<h2>Add Delivery Time</h2>
					
					<div class="delivery-box start-date">
						<label class="qvr-label">Start Date:</label>
						<div class="form-element date" ng-click="newMessageCtrl.showStartDatePicker=true; $event.stopPropagation();">{{newMessageCtrl.newMessage.startDate == '0' ? 'Never' : newMessageCtrl.newMessage.startDate}}</div>
					</div>
					<div class="delivery-box start-time">
						<label class="qvr-label">Start Time:</label>
						<div class="form-element hourglass" ng-click="newMessageCtrl.showStartTimePicker=true; $event.stopPropagation();">{{newMessageCtrl.newMessage.startTime == '0' ? 'Never' : newMessageCtrl.newMessage.startTime}}</div>
					</div>

					<div class="delivery-box end-date">
						<label class="qvr-label">End Date:</label>
						<div class="form-element date" ng-click="newMessageCtrl.showEndDatePicker=true; $event.stopPropagation();">{{newMessageCtrl.newMessage.endDate == '0' ? 'Never' : newMessageCtrl.newMessage.endDate}}</div>
					</div>
					<div class="delivery-box end-time">
						<label class="qvr-label">End Time:</label>
						<div class="form-element hourglass" ng-click="newMessageCtrl.showEndTimePicker=true; $event.stopPropagation();">{{newMessageCtrl.newMessage.endTime == '0' ? 'Never' : newMessageCtrl.newMessage.endTime}}</div>
					</div>
				</section>

				<section class="location-details">
					<h2>Set Entry/Exit</h2>
					
					<div class="switch-wrapper">
						<span class="icon i-location-enter" ng-class="{active: newMessageCtrl.newMessage.discoverOn=='enter'}"></span>

						<div class="switch enter-exit-switch">
							<input type="checkbox" id="enter-exit-switch" ng-true-value="'leave'" ng-false-value="'enter'" ng-model="newMessageCtrl.newMessage.discoverOn">
							<label for="enter-exit-switch"></label>
						</div>

						<span class="icon i-location-leave" ng-class="{active: newMessageCtrl.newMessage.discoverOn=='leave'}" ></span>
					</div>
					
					<p>
						Recipient discovers message
						<br>
						when <span ng-show="newMessageCtrl.newMessage.discoverOn=='enter'">entering</span><span ng-show="newMessageCtrl.newMessage.discoverOn=='leave'">leaving</span> the <span>{{newMessageCtrl.newMessage.range}} KM</span> radius
					</p>
				</section>
			</section>
		</section>
	</form>
</section>