<div class="page page--profile">

	<header class="heading-bar">
		<h1>Edit User Profile</h1>
	</header>

	<div class="profile-content">
		
		<div class="profile-detail">
			
			<form role="form" class="qvr-form profile-edit-form" ng-submit="editProfileCtrl.updateUser()">

				<div class="clearfix">
					
					<img ng-src="{{editProfileCtrl.editedUser.avatar}}" alt="avatar" class="avatar">
					
					<div class="names">
						<label>Name</label>
						<input type="text" placeholder="First & Last Names" ng-model="editProfileCtrl.editedUser.fullName" required>

						<label>User ID</label>
						<input type="text"  placeholder="username" ng-model="editProfileCtrl.editedUser.username" required>

					</div>

				</div>
					

				<label>Description</label>
				<textarea class="text-description"  ng-model="editProfileCtrl.editedUser.description" required></textarea>

				<label>Title</label>
				<input type="text" ng-model="editProfileCtrl.editedUser.title" required>

				<label>Department</label>
				<input type="text" ng-model="editProfileCtrl.editedUser.department" required>

				<label>Email</label>
				<input type="email" ng-model="editProfileCtrl.editedUser.email" required>

				<label>Phone</label>
				<input type="text" ng-model="editProfileCtrl.editedUser.phone" required>

				<button type="submit" class="qvr-button info">Save Changes</button>
				<a ng-click="editProfileCtrl.cancelEdit()" class="qvr-button warning hollow">Cancel</a>
					
			</form>
		</div>

		<div class="corporate-box">

			<div class="corporate-info">
				<div class="clearfix">

					<img ng-src="{{editProfileCtrl.user.companyLogo}}" alt="logo" class="corp-logo">
					<div class="corp-details">
						{{editProfileCtrl.user.company}}
						<br>
						@{{editProfileCtrl.user.companyUsername}}
					</div>

				</div>
			</div>

			<div class="heading-bar">
				<h1>Change Password</h1>
			</div>

			<div class="password-box">
					<form role="form" class=" qvr-form profile-edit-form">
						<br>
					
						<label>Old Password</label>
						<input type="password" required>

						<label>New Password</label>
						<input type="password" required>

						<label>Confirm Password</label>
						<input type="password" required>

						<button type="submit" class="qvr-button info">Change Password</button>

					</form>
			</div>

		</div>
		

	</div>

</div>