<header class="g-header" ng-show="appCtrl.showHeader">

	<a class="header-branding">
		<img class="header-logo" src="assets/img/logo/header-logo-white.png" alt="Quiver">
		<span class="portal-branding">Enterprise Portal</span>
	</a>

	<nav class="header-nav">
		<ul class="main-nav ">
			<li ng-repeat="mainNav in appCtrl.navObj">
				<a ui-sref="{{mainNav.state}}" ng-class="{active: appCtrl.currentState.current.name==mainNav.state || appCtrl.currentNavCategory == mainNav.category }">{{mainNav.title}}</a>

				<ul class="{{mainNav.category}}">
					<li ng-repeat="subNav in mainNav.subNav" ng-class="{'upgrade': subNav.upgrade}" >
						<a ui-sref="{{subNav.state}}" ng-class="{active: appCtrl.currentState.current.name==subNavNav.state}">{{subNav.title}} <span ng-show="subNav.upgrade">(Upgrade)</span></a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>

	<nav class="header-subnav">
		<span class="icon-wrapper">
			<span class="icon i-header-user active"></span>
		</span>
		<span class="username">
			<span class="bold">Welcome</span> {{appCtrl.user.fullName}}</span>

		<span class="profile-wrapper">

			<a ui-sref="enterprise.user-profile" ng-class="{active: appCtrl.currentState.current.name==subnav.state}" href="#!/enterprise/user-profile">Profile</a>
			<a ng-click="appCtrl.userLogout()" >Logout</a>
		</span>

		<span class="details">
			<span class="enterise-name bold">{{appCtrl.user.username}}</span>
			|
			<span class="enterprise-plan bold">Subscription : <span>Pro</span>
			|
			 <a class="upgrade">Upgrade</a>
			</span>
		</span>
	</nav>

	<section class="header-user-info hide" controller="AppCtrl as appCtrl">

	</section>

</header>
