<div class="page page--enterprise" flow-init  flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="uploader.flow" flow-files-added="processFiles($files)" flow-files-added="saveFiles($files)" >
	
	<header class="heading-bar">
		<h1>User Profile</h1>
	</header>

		<div class="enterprise-profile user-profile" ng-hide="userProfileCtrl.isEditing">
		<section class="enterprise-content-wrapper">
			<div class="enterprise-content-left corporate-info">
				<div class="details full-width avatar">
					
					<img ng-src="{{userProfileCtrl.user.avatar || 'assets/img/profile_bryan.jpg'}}" alt="logo" class="corp-logo" ng-hide="userProfileCtrl.user.newlogo" />

				
					<img ng-show
					="userProfileCtrl.imageUploaded && uploader.flow.files.length == 0" ng-src="{{userProfileCtrl.user.newlogoPlacerHolder}}" class="preview" style="margin-bottom: 20px;"/>

					<div ng-repeat="image in uploader.flow.files track by $index | limitTo:1" ng-if="$index==0">
				      	<img class="preview" flow-img="image"/><br>
				        <img class="preview hide" ng-src="{{userProfileCtrl.user.newlogo[$index]}}"/>
				    </div>
					<br/>
					<button class="qvr-button action change-avatar-btn" flow-btn ng-click="removeFiles();">Change Avatar</button>
					<p>
						Contact System Administrator to make other changes<br/>
						to your profile: <a ng-href="#">email</a>
					</p>
				</div>
			</div>
			<div class="enterprise-content-right corporate-info">
				<div class="details full-width">
					
					<label>Company Name</label>
					<p>{{userProfileCtrl.user.companyName}}</p>

					<label>First Name</label>
					<p>{{userProfileCtrl.user.firstName}}</p>

					<label>Last Name</label>
					<p>{{userProfileCtrl.user.lastName}}</p>					

					<label>Contact Email</label>
					<p>{{userProfileCtrl.user.email}}</p>

					<label>Contact Phone</label>
					<p>{{userProfileCtrl.user.phone}}</p>

					<label>User Rights</label>
					<p>{{userProfileCtrl.user.userRights}}</p>

				</div>
			</div>

			<div class="clearfix"></div>
		</section>
	</div>


	<div class="enterprise-profile edit qvr-form"  ng-show="userProfileCtrl.isEditing">
		<section class="enterprise-content-wrapper">
			<div class="enterprise-content-left corporate-info">

				<div class="details full-width">

					<img  ng-src="{{userProfileCtrl.editedUser.avatar}}" alt="logo" class="corp-logo" />

					<label>Account Name</label>
					<input placeholder="" type="text" ng-model="userProfileCtrl.editedUser.fullName" required >
					
					<label>User Name</label>
					<input placeholder="" type="text" ng-model="userProfileCtrl.editedUser.username" required >

					<label>Description</label>
					<textarea placeholder="" ng-model="userProfileCtrl.editedUser.description" required rows="4" cols="50" ></textarea>


					<label>Contact Email</label>
					<input placeholder="" type="text" ng-model="userProfileCtrl.editedUser.emailAddress" required >

				</div>
			</div>

			
			<div class="clearfix"></div>
		</section>
	</div>

</div>



<!-- Modals -->
<div zf-modal="" id="saveProfileChangesModal">
	<a zf-close="" class="close-button">×</a>
	<p class="qvr-align-center">
		Are you sure you want to save chanes?
	</p>
	<div class="modal-button-wrapper qvr-align-center">
		<button ng-click="userProfileCtrl.saveChanges()" class="qvr-button action">Save</button>
		<button zf-close="" class="qvr-button cancel">Cancel</button>
	</div>
</div>