<header class="heading-bar">
	<h1>Edit Message</h1>
</header>
<section class="message-content-wrap">

<form role="form" class="qvr-form create-edit-message-form" ng-submit="editMessageCtrl.updateMessage()">
	
	<section>
		<div class="float-right top-controls">
			<button type="submit" class="qvr-button info edit-button">Save Changes</button>
			<button ng-click="editMessageCtrl.cancelEdit()" class="qvr-button warning hollow edit-button">Cancel</button>
		</div>

		
	</section>


	<section>
		<h2>Edit Message</h2>
	</section>


	<section >
		<div class="half-size">
			<label class="qvr-label">Message Label:</label>
			<input placeholder="Message Title" type="text" class="message-label" ng-model="editMessageCtrl.editedMessage.messageTitle" required>
		</div>
		
		<div class="half-size">
			<label class="qvr-label">Set Message Status: </label>
			
			<select class="qvr-select select-status"  ng-model="editMessageCtrl.editedMessage.status" required>
				<option>Setup</option>
				<option>Active</option>
				<option>Inactive</option>
				<option>Closed</option>
			</select>

		</div>
		
		<label class="qvr-label">To:</label>
		<input placeholder="Choose Recipients" type="text">

		<label class="qvr-label">Content:</label>
		<textarea ng-model="editMessageCtrl.editedMessage.content" class="message-content" placeholder="Insert Content"></textarea>

		<a class="qvr-button info attach-asset"><span class="icon i-camera"></span> Attach Asset</a>
		<br>

	</section>


	<section class="location-section">

		<label class="qvr-label">Add Delivery Location:</label>
		<div class="map-search-wrap">
			<span class="icon i-location-large"></span>
			<div class="search-button">
				<span class="icon i-search-white"></span>
			</div>
			<input type="search" placeholder="Search for Location">
		</div>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.2692591501204!2d-79.38705699999998!3d43.642565999999974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d68bf33a9b%3A0x15edd8c4de1c7581!2sCN+Tower!5e0!3m2!1sen!2sca!4v1427435891553" width="100%" height="320px" frameborder="0" style="border:0"></iframe>

		<div class="radius">
			<span>{{editMessageCtrl.editedMessage.range}} km</span> radius
		</div>

		<input type="range" class="radius-range" ng-model="editMessageCtrl.editedMessage.range">
		
	</section>

	<section class="location-details">
		<div class="float-left">
			<span class="icon i-location-enter"></span>
			<input type="checkbox" class="qvr-slide-toggle">
			<span class="icon i-location-leave"></span>
		</div>
		
		<p class="float-left">
			Recipient discovers message
			<br>
			when <span>entering</span> the <span>5 KM</span> radius
		</p>
	</section>


	<section>
		<h2>Delivery Time</h2>
	</section>

	<section>
		<br>
		<div class="float-left">
			<div class="delivery-box">
				<label class="qvr-label">Start Date:</label>
				<input type="text" class="date" value="2015 - 04 - 12">
			</div>
			<div class="delivery-box">
				<label class="qvr-label">End Date:</label>
				<input type="text" class="date" value="2015 - 04 - 12">
			</div>
		</div>

		<div class="float-left">
			<div class="delivery-box">
				<label class="qvr-label">Start Time:</label>
				<input type="text" class="hourglass" value="12:35 PM">
			</div>
			<div class="delivery-box">
				<label class="qvr-label">End Time:</label>
				<input type="text" class="hourglass" value="12:35 PM">
			</div>
		</div>
	</section>

	<section>
		<h2>Delivery Information</h2>
	</section>

	<section class="info-details">
		<div class="float-left">
			<span class="icon i-info"></span>
			<input type="checkbox" class="qvr-slide-toggle">
			<span class="icon i-info-crossed"></span>
		</div>
		
		<p class="float-left">
			Recipient will know <span>WHERE</span> and <span>WHEN</span>
			<br>
			they will recieve your message
		</p>
	</section>

	<div class="float-right bottom-controls">
		<button type="submit" class="qvr-button info edit-button">Save Changes</button>
			<button ng-click="editMessageCtrl.cancelEdit()" class="qvr-button warning hollow edit-button">Cancel</button>
	</div>

</form>
</section>