<div class="enterprise-profile">

	<section class="corporate-info" >
		<div class="clearfix">

			<img ng-src="{{editEnterpriseCtrl.editedCompany.logo}}" alt="logo" class="corp-logo">
		
			<div class="corp-details">
				{{editEnterpriseCtrl.editedCompany.companyName}}
				<br>
				@{{editEnterpriseCtrl.editedCompany.username}}
			</div>
		</div>

	</section>

	<div class="details">
		<form role="form" class="qvr-form enterprise-edit-form" ng-submit="editEnterpriseCtrl.updateCompany()">

			<label>Description</label>
			<textarea class="text-description" ng-model="editEnterpriseCtrl.editedCompany.description"></textarea>

			<label>Email</label>
			<input type="email" ng-model="editEnterpriseCtrl.editedCompany.email">
			<br>
			
			<button type="submit" class="qvr-button info">Save Changes</button>
			<a ng-click="editEnterpriseCtrl.cancelEdit()" class="qvr-button warning hollow">Cancel</a>

		</form>
	</div>


	
</div>